.homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    margin: 15px 0;
}
.homepage > * {
    width: 48.3%;
    box-sizing: border-box;
    margin: 20px 0;
}

.homepage section {
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 7px;
    box-shadow: 0 4px 22px rgba(0,0,0, 0.09);
    padding: 3px 22px 7px;
}
.homepage section h2 {
    font-size: 1.4em;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(200,200,200, 0.3);
    color: #4A673C;
}
.homepage section p {
    line-height: 1.35em;
}

.homepage-radio-tables-list {
    list-style: none;
    padding-left: 0;
}
.homepage-radio-tables-list li {
    margin: 5px 0;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homepage-radio-tables-list a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 1px 0;
    margin-right: 20px;
    display: block;
    width: 100%;
}
.homepage-radio-tables-list span {
    white-space: nowrap;
    text-align: right;
    color: rgba(0,0,0, 0.4);
    font-size: 0.7em;
}
.homepage-radio-tables-list a:hover + span, .homepage-radio-tables-list a:focus + span {
    color: rgba(0,0,0, 0.8);
}

.homepage .search-form {
    margin: 22px 0;
}

@media (max-width: 767px)
{
    .homepage {
        flex-direction: column;
    }
    .homepage > * {
        /* keep this to properly cut off radio tables names */
        width: 100%;
    }
}

@media (max-width: 450px)
{
    .homepage-radio-tables-list li {
        flex-direction: column;
        align-items: start;
        margin: 9px 0;
    }
}

.homepage-logo {
    display: none;
}

@media (min-width: 768px)
{
    .site-header {
        background: rgb(247,246,245, 0.9);
        border-bottom-color: transparent;
    }
    .site-header .site-logo {
        visibility: hidden;
    }

    .homepage-logo {
        display: block;
        height: 80px;
        margin: -5px auto 35px;

        position: relative;

        /* above sticky site header */
        z-index: 1001;
    }

    .homepage-logo .line-1, .homepage-logo .line-2, .homepage-logo .line-3 {
        animation: logo-line-fade 6s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
    .homepage-logo .line-1 {
        animation-delay: 1s;
    }
    .homepage-logo .line-2 {
        animation-delay: 2s;
    }
    .homepage-logo .line-3 {
        animation-delay: 3s;
    }

    .homepage-logo .dot {
        animation: logo-dot-fade 2s;
        animation-iteration-count: infinite;
        animation-delay: 0.45s;
        animation-fill-mode: both;
    }

    @keyframes logo-line-fade
    {
        0% {
            filter: opacity(0.1);
        }
        5% {
            filter: opacity(1);
        }
        60% {
            filter: opacity(1);
        }
        100% {
            filter: opacity(0.1);
        }
    }
    @keyframes logo-dot-fade
    {
        0% {
            filter: opacity(0.2);
        }
        10% {
            filter: opacity(1);
        }
        90% {
            filter: opacity(1);
        }
        100% {
            filter: opacity(0.2);
        }
    }

    @media (prefers-reduced-motion)
    {
        .homepage-logo .line-1, .homepage-logo .line-2, .homepage-logo .line-3, .homepage-logo .dot {
            animation: none;
        }
    }
}
