services:
    http:
        build: 'container/http'
        volumes:
            - '.:/srv:z'

    app:
        build: 'container/app'
        environment:
            DATABASE_URL: 'mysql://root:toor@db:3306/radiolista-v3?serverVersion=8.0'
            XDEBUG_CONFIG: 'client_port=2014 client_host=host.containers.internal'
        volumes:
            - '.:/srv:z'

    db:
        image: 'docker.io/mysql:8.0.39'
        environment:
            MYSQL_ROOT_PASSWORD: 'toor'
        volumes:
            - 'db:/var/lib/mysql'

volumes:
    db: ~
