config:
    repository: 'git@github.com:TomaszGasior/RadioLista-v3.git'
    remote_user: 'username'
    bin/php: 'php'
    deploy_path: '/home/{{remote_user}}/domains/{{domain}}'
    public_dir: '{{deploy_path}}/public_html'
    http_user: '{{remote_user}}'
    domain: '{{alias}}'

hosts:
    radiolista.pl:
        hostname: 'hostname'
