{% extends 'layout.html.twig' %}

{% block page_title %}O stronie{% endblock %}

{% block page_content %}
<header>
    <h2>O stronie</h2>
</header>

<div class="aboutPage">
    <p>RadioLista to miejsce w&nbsp;Internecie, gdzie osoby pasjonujące się radiofonią i&nbsp;mediami mogą publikować różnorodne wykazy radiowe, czasem też telewizyjne &mdash; bandscany, regularne wykazy odbieranych stacji, a&nbsp;także prywatne listy ulubionych nadawców.</p>
    <p>Rejestracja w&nbsp;serwisie jest bezpłatna. Zarejestrowany użytkownik może utworzyć nieograniczoną liczbę wykazów. Może też w&nbsp;pewnym stopniu personalizować wygląd i&nbsp;strukturę każdego z&nbsp;nich, a&nbsp;także ograniczyć dostęp tylko dla siebie.</p>

    <p>Skąd wziął się pomysł? Autor serwisu po stworzeniu swojego amatorskiego prywatnego wykazu odbieranych rozgłośni nie mógł znaleźć dobrze przemyślanego i&nbsp;zaprojektowanego do&nbsp;publikacji tego typu treści miejsca w&nbsp;sieci, dlatego postanowił wykorzystać swoje umiejętności programistyczne i&nbsp;stworzyć taki serwis.</p>
    <p>RadioLista wystartowała 1&nbsp;lipca&nbsp;2012 roku. Od tego momentu w&nbsp;serwisie zarejestrowało się kilkudziesięciu użytkowników, stworzono ponad sto wykazów, dodano łącznie kilka tysięcy stacji! 20&nbsp;marca&nbsp;2016 roku światło dzienne ujrzała odświeżona wersja serwisu. Od&nbsp;4&nbsp;maja&nbsp;2018 roku witryna funkcjonuje pod adresem radiolista.pl.</p>

    <p>Autorem RadioListy jest Tomasz Gąsior. Więcej o nim na stronie <a href="https://tomaszgasior.pl" target="_blank">tomaszgasior.pl</a>.</p>
</div>
{% endblock %}
