/* general */

@font-face {
    font-family: "LatoLatinWeb";
    src: url('fonts/LatoLatin-Regular.woff2'), url('fonts/LatoLatin-Regular.woff');
}
@font-face {
    font-family: "LatoLatinWeb";
    src: url('fonts/LatoLatin-Heavy.woff2');
    font-weight: bold;
}
@font-face {
    font-family: "LatoLatinWeb";
    src: url('fonts/LatoLatin-Italic.woff2');
    font-style: italic;
}
@font-face {
    font-family: "Inconsolata";
    src: url('fonts/Inconsolata.woff2');
}

body {
    font: 17px "LatoLatinWeb", "Liberation Sans", "Arial", sans-serif;
    color: #000;
    text-rendering: optimizeLegibility;
    background: #F7FFF3;

    cursor: default;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

a {
    color: #D66200;
    transition: linear 0.1s color;

    text-decoration: none;
    border: none;
    outline: none;
}
a:focus {
    text-decoration: underline;
    outline: 1px dashed #F07F1F;
    outline-offset: 2px;
}
a:hover {
    text-decoration: underline;
    color: #0084FF;
    outline: none;
}
a:active {
    color: #64BE00;
    outline: none;
}

.sr-only {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

main {
    display: block; /* IE11 */
}
template {
    display: none; /* IE11 */
}


/* site width */

.site-width {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}
@media (min-width: 1400px)
{
    .site-width {
        max-width: 1100px;
    }
}


/* site header */

.site-header {
    background: rgba(255,255,255, 0.6);
    box-shadow: 0 0 5px rgba(0,0,0, 0.2);
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}
@supports (-moz-user-select: none)
{
    .site-header {
        /* box-shadow version for Firefox */
        box-shadow: 0 0 4px rgba(0,0,0, 0.18);
    }
}
.site-header > div {
    display: flex;
    justify-content: space-between;
}

.site-header .site-logo {
    background: url('logo.svg') no-repeat;
    background-size: 238px auto;
    background-position: 4px 4px;
    width: 245px;
    height: 62px;

    display: block;
    text-indent: -9999px;
    overflow: hidden;
}


/* site navigation */

.site-navigation {
    text-align: right;
}
.site-navigation ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.site-navigation li {
    display: inline-block;
}
.site-navigation li:before {
    margin: 0 0.4em;
    content: " | ";
    color: rgba(0,0,0, 0.1);
    font-size: 0.9em;
    vertical-align: 1px;
}
.site-navigation li:first-child:before {
    display: none;
}
.site-navigation a {
    text-shadow: 0 0 2px #eee;
    color: #5D9A3F;

    display: inline-block;
}
.site-navigation a:hover {
    color: #EE6D00;
}
.site-navigation .user-menu {
    margin: 0.55em 0 0.6em;
    font-size: 0.8em;
    color: #8E8E8E;
}
.site-navigation .user-menu a {
    color: inherit;
}
.site-navigation .user-menu .username {
    font-weight: bold;
}


/* site footer */

.site-footer {
    font-size: 0.8em;
    text-align: center;

    border-top: 1px solid rgba(0,0,0, 0.11);
    padding: 1em 0 2.6em 0;
    margin-top: 2em;
}
.site-footer ul {
    display: inline;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.site-footer p, .site-footer li {
    display: inline-block;
    margin: 0 0.73em;
}


/* notification */

.notification-wrapper {
    display: block;

    text-align: center;
    font-weight: bold;
}
.notification {
    padding: 0.2em 2em;

    background: rgba(255,247,189, 0.6);
    color: #000;
}
.notification.error {
    background: rgba(255,0,0, 0.7);
    color: #FFF;
}

@keyframes notification_show
{
    from {
        top: -800px;
    }
    to {
        top: 76px;
    }
}
@keyframes notification_hide
{
    from {
        top: 76px;
    }
    to {
        top: -100px;
        opacity: 0.1;
    }
}

.JS .notification-wrapper {
    position: absolute;
    z-index: 100;
    top: 76px;
    left: 0;
    right: 0;
    text-align: center;
    height: 1px;

    animation-name: notification_show;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.JS .notification-wrapper .notification {
    display: inline-block;
    min-width: 400px;
    max-width: 800px;

    text-align: center;
    font-weight: bold;
    padding: 0.8em 1.5em;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
    border-radius: 2px;
}
.JS .notification-wrapper.hidden {
    top: -100px;

    animation-name: notification_hide;
    animation-duration: 0.75s;
    animation-timing-function: ease-in;
}


/* main content */

.main-content {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: auto;
    min-height: 70vh;
}

.main-content > header h1 {
    color: #EE6D00;
    margin: 1.05rem 0 1.5rem;
    font-size: 2em;
    text-shadow: 0 0 2px #eee;

    font-weight: normal;
}
.main-content > header h1.separated-title {
    display: flex;
    flex-direction: column-reverse;
}
.main-content > header h1 .additional {
    font-size: 0.4em;
    color: #000;
    opacity: 0.4;
    padding-left: 2px;
    padding-top: 0.3rem;
}

.main-content h2 {
    font-size: 1.6em;
    margin: 1rem 0;
    text-shadow: 0 0 2px #eee;

    font-weight: normal;
}


/* form widgets */

input, textarea, select, button, a.button {
    font-size: 0.88em;
    width: 100%;
    padding: 5px 11px;
    background: #F3F3F3;
    box-shadow: inset 2px 2px 2px #DEDEDE;
    border: 1px solid #C2C2C2;

    outline: none;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}
input:focus, textarea:focus, select:focus, button:focus, a.button:focus {
    outline: 1px solid #F07F1F;

    /* needed for WebKit/Blink */
    outline-offset: 0px;
}
textarea {
    resize: vertical;
    min-height: 130px;
}
input[type="number"] {
    width: 80px;
    text-align: center;
    margin-right: 0.2em;
}
input[type="number"].decimal {
    width: 100px;
}
@supports (-webkit-app-region: initial)
{
    input[type="search"]::-webkit-search-cancel-button {
        /* remove "X" from search input in WebKit */
        -webkit-appearance: none;
    }
    input::-webkit-calendar-picker-indicator {
        /* remove ugly arrow in inputs with datalist attribute in WebKit */
        display: none;
    }
}
@supports (-webkit-nbsp-mode: initial)
{
    input[type="search"] {
        /* make search input consistent in WebKit, not Blink */
        -webkit-appearance: none;
    }
}

select {
    /* hide default select arrow */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg height='16px' width='35px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='%23999' points='23.303,-0.002 12.467,10.834 1.63,-0.002 -0.454,2.082 12.467,15.002 14.551,12.918 25.387,2.082'/%3E%3C/svg%3E");
    background-position: center right;
    background-repeat: no-repeat;

    /* needed for WebKit */
    border-radius: 0;
}
select::-ms-expand {
    /* "appearance: none" for Internet Explorer */
    display: none;
}
@supports (-moz-user-select: none)
{
    /* smaller padding for Firefox */
    select {
        padding: 4px 7px;
    }

    /* dirty hack, remove dotted border inside select in Firefox */
    select:-moz-focusring {
        color: rgba(0,0,0, 0) !important;
        text-shadow: 0 0 0 #000 !important;
    }
    option {
        color: #000 !important;
        text-shadow: none !important;
    }
}

button, a.button {
    max-width: 40%;
    margin: 1em auto 0;
    background: #F8FFDF;
    color: #F07F1F;
    font-weight: bold;
    transition: linear 0.1s background-color;
    border-color: #DDDDDD;
    box-shadow: 0 0 2px rgba(0,0,0, 0.08);
    display: block;
}
button:hover:not(:disabled), button:focus, a.button:hover, a.button:focus {
    background: #F07F1F;
    color: #F2FFC6;
}
button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
@supports (-moz-user-select: none)
{
    /* remove Firefox dotted border inside button */
    button::-moz-focus-inner {
        border: none !important;
    }
}

a.button {
    text-align: center;
    width: auto;
    text-decoration: none;

    display: inline-block;
    margin: 0;
}

fieldset {
    padding: 0;
    border: none;
    padding: 0.3em 0;

    /* undo "magic" top margin from fieldset */
    margin: -0.9em 0 0;
}


/* form widgets — checkboxes + labels */

input[type="checkbox"], input[type="radio"] {
    width: auto;
    padding: 0;
    margin: 0;

    /* hide real checkbox and keep it above fake checkbox */
    position: absolute;
    z-index: 2;
    opacity: 0;
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
    content: " ";

    display: inline-block;
    width: 17px;
    height: 17px;
    padding: 0;

    position: absolute;
    z-index: 1;
    margin-top: 1px;

    /* negative label's padding-left */
    margin-left: calc(-1 * (17px + 0.7em));

    /* copied from form widgets styles */
    background: #F3F3F3;
    box-shadow: inset 2px 2px 2px #DEDEDE;
    border: 1px solid #C2C2C2;
}
input[type="radio"] + label:before {
    border-radius: 10px;
    -moz-outline-radius: 10px;
}
input[type="checkbox"]:focus + label:before, input[type="radio"]:focus + label:before {
    /* copied from form widgets styles */
    outline: 1px solid #F07F1F;
}
input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 9px 9px;
}
input[type="checkbox"]:checked + label:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 1.852 1.852'%3E%3Cpath fill='%23FF7500' d='M0 0h1.852v1.852H0z'/%3E%3C/svg%3E");
}
input[type="radio"]:checked + label:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 1.852 1.852'%3E%3Ccircle fill='%23FF7500' cx='19.798' cy='24.486' r='.926' transform='translate%28-18.872 -23.56%29'/%3E%3C/svg%3E");
}

input[type="checkbox"] + label, input[type="radio"] + label {
    /* keep in sync with :before's margin-left */
    padding-left: calc(17px + 0.7em);
}
input[type="checkbox"]:focus:not(:hover) + label, input[type="radio"]:focus:not(:hover) + label {
    outline: 1px dotted #F6BD8D;
    outline-offset: 3px;
}


/* form widgets — special */

input.jscolor {
    max-width: 200px;
}
input.jscolor:not([style=""]) {
    /* dirty hack to remove box-shadow when color is filled */
    box-shadow: none;
}


/* form items lists */

.form-item {
    width: 100%;
}

.form-item.form-regular {
    display: flex;
    margin: 0.7em 0;
}
.form-item.form-regular > *:first-child {
    width: 40%;
}
.form-item.form-regular > *:last-child {
    flex: 1;
}

.form-item.form-checkbox {
    margin: 0.9em 0;

    /* needed for inputs and fake checkboxes with position absolute */
    position: relative;
}

.form-item label {
    display: block;
}
.form-item.form-regular label {
    margin-top: 5px;
}


/* tabbed UI */

.JS .tabbed-ui > div {
    background: #FAFFF8;
    padding: 0.5em 1.2em 0.8em;
    border: 1px solid #D2D2D2;
}
.JS .tabbed-ui > div:not(.tabbed-ui-current) {
    display: none;
}

.tabbed-ui-navigator {
    padding-left: 0;
    list-style-type: none;
    margin: 0 0 -1px;

    vertical-align: bottom;
}
@supports (-webkit-nbsp-mode: initial)
{
    .tabbed-ui-navigator {
        /* needed for WebKit, not Blink */
        margin-bottom: 0;
    }
}
.tabbed-ui-navigator li {
    display: inline;
}
.tabbed-ui-navigator button {
    margin-right: 0.4em;
    padding: 0.2em 0.9em;
    background: #FAFFF8;
    border: 1px solid #D2D2D2;
    opacity: 0.63;

    white-space: nowrap;
    display: inline-block;
    outline-style: none;
    box-shadow: none;
    color: inherit;
    transition-property: opacity;
    width: auto;
    font-weight: normal;
    margin-top: 0;
}
.tabbed-ui-navigator button:hover {
    background: #fff;
    color: inherit;
}
.tabbed-ui-navigator button:focus:not(:hover):not(:active) {
    opacity: 1;
    outline-style: dashed;
}
.tabbed-ui-navigator button.tabbed-ui-current {
    opacity: 1;
    border-bottom-color: #FAFFF8;
    padding-top: 0.6em;
    background: #FAFFF8;
}


/* radiotable — wrapper */

.radiotable-container {
    /* reset visual vertical padding of table cells */
    margin: 0 -0.4em;

    overflow-x: auto;

    position: relative;
    background-size: 40px 100%;
    background-repeat: no-repeat;
}

.radiotable-container.overflow-right {
    background-image: linear-gradient(90deg, rgba(0,0,0, 0), rgba(250,230,205, 0.4));
    background-position: right;
}
.radiotable-container.overflow-left {
    background-image: linear-gradient(90deg, rgba(250,230,205, 0.4), rgba(0,0,0, 0));
    background-position: left;
}
.radiotable-container.overflow-left.overflow-right {
    background-image: linear-gradient(90deg, rgba(0,0,0, 0), rgba(250,230,205, 0.4)),
                      linear-gradient(90deg, rgba(250,230,205, 0.4), rgba(0,0,0, 0));
    background-position: right, left;
}


/* radiotable */

table.radiotable {
    width: 100%;
    border-collapse: collapse;

    font-size: 0.96em;
}

table.radiotable td, table.radiotable th {
    padding: 0.31em 0.5em;
    text-align: left;
}
table.radiotable th {
    padding-bottom: 0.5em;
    color: #477E2D;
    font-weight: normal;
}
table.radiotable td {
    border-top: 1px solid rgba(0,0,0, 0.05);
}
@supports (-webkit-nbsp-mode: initial)
{
    /* color for WebKit, not Blink */
    table.radiotable td {
        border-top: 1px solid rgba(0,0,0, 0.03);
    }
}

table.radiotable tbody tr {
    transition: background 0.1s;
}
table.radiotable tbody tr:hover, table.radiotable tbody tr:focus-within {
    background: rgba(250,230,205, 0.8);
}


/* radiotable — special cells */

table.radiotable tr.marker-1 {
    font-weight: bold;
}
table.radiotable tr.marker-2 {
    font-style: italic;
}
table.radiotable tr.marker-3 {
    text-decoration: line-through;
}
table.radiotable tr.marker-4 {
    background: rgba(255,209,209, 0.65) !important;
}
table.radiotable tr.marker-5 {
    background: rgba(175,255,150, 0.65) !important;
}
table.radiotable tr.marker-6 {
    background: rgba(156,230,255, 0.65) !important;
}

table.radiotable .quality {
    color: rgba(0,0,0, 0);
    display: block;

    /* override from themes */
    text-shadow: none !important;
}
@supports (-moz-user-select: none)
{
    table.radiotable .quality::-moz-selection {
        opacity: 0;
    }
}
table.radiotable .quality::selection {
    opacity: 0;
}
table.radiotable .quality:before {
    text-shadow: 0 0 2px #CCC;
    margin-right: -10px;
    letter-spacing: 2px;
}
table.radiotable .quality.quality-5:before {
    color: #0BB300;
    content: "●●●●●";
}
table.radiotable .quality.quality-4:before {
    color: #A8D300;
    content: "●●●●";
}
table.radiotable .quality.quality-3:before {
    color: #BDAC00;
    content: "●●●";
}
table.radiotable .quality.quality-2:before {
    color: #FF5E00;
    content: "●●";
}
table.radiotable .quality.quality-1:before {
    color: #FF0017;
    content: "●";
}

table.radiotable span.rds {
    white-space: pre;
    background: rgba(160,160,160, 0.2);
    font-family: "Inconsolata", "Consolas", "Source Code Pro", "Lucida Console", monospace;
    color: black;
    padding: 1px 3px;
    transition: background 0.2s, color 0.2s;

    /* reset markers styles */
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
table.radiotable span.rds:hover, table.radiotable span.rds:focus {
    background: rgba( 0,0,0, 0.7 );
    color: #fff;
    outline: none;
}

table.radiotable small {
    font-size: 0.7em;
    vertical-align: 2px;
}
table.radiotable abbr {
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
}


/* radiotable — details section */

.radiotable-details {
    margin-top: 1.8em;
    line-height: 1.5em;

    width: 100%;
}
.radiotable-details p {
    margin: 0.4em 0;
}

.radiotable-details dl {
    display: flex;
    align-items: center;
    width: 100%;

    border-top: 1px solid rgba(0,0,0, 0.05);
    font-size: 0.9em;
    margin-top: 1.5em;
    padding: 0.8em 2em 0 2em;
    box-sizing: border-box;
}
.radiotable-details dl > * {
    display: flex;
    align-items: center;
    flex: 1;
}
.radiotable-details dl > * > * {
    flex: 1;
}
.radiotable-details dt, .radiotable-details dd {
    padding: 0 0.5em;
    margin: 0;
}
.radiotable-details dt {
    text-align: right;
}
.radiotable-details dt:after {
    content: ":";
}
.radiotable-details dd {
    text-align: left;
    border-right: 1px solid rgba(0,0,0, 0.05);
}
.radiotable-details dd:last-child {
    border-right: none;
}


/* radiotable — RDS popup */

@keyframes rds_popup_show
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.rds-popup {
    background: #fff;
    color: #000;
    border: 1px solid #eee;
    box-shadow: 0 0 3px rgba(0,0,0, 0.4);
    width: 430px;

    animation-name: rds_popup_show;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-delay: 0.15s;
    animation-fill-mode: both;
}

.rds-popup h2 {
    background: #eee;
    color: #555;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
    padding: 0.1em 0;
    margin: 0;
}

.rds-popup dl {
    font-size: 0.8em;
    margin: 1.2em;
}
.rds-popup dl > div {
    margin-bottom: 0.5em;
    display: flex;
    flex: 1;
    width: 100%;
}
.rds-popup dl > div[hidden] {
    /* weird fix of weird bug */
    display: none;
}
.rds-popup dt {
    min-width: 12%;
    font-weight: bold;
}
.rds-popup dt:after {
    content: ":";
}
.rds-popup dd {
    margin-left: 0;
}

.rds-popup dd span {
    display: inline-block;
    margin: 0 9px 4px 0;

    /* unvisible border for proper padding sizing */
    border-bottom: 1px solid rgba(0,0,0, 0);

    white-space: pre;
    background: rgba(160,160,160, 0.2);
    font-family: "Inconsolata", "Consolas", "Source Code Pro", "Lucida Console", monospace;
}

.rds-popup dd div {
    margin-bottom: 3px;
}
.rds-popup dd div span {
    /* unvisible border for proper padding sizing */
    border-top: 1px solid rgba(0,0,0, 0);
    border-bottom: 1px solid rgba(0,0,0, 0);

    display: inline;
    white-space: pre-wrap !important;
    margin: 0;
}


/* sortable table */

table.sortable th[data-sort] {
    cursor: pointer;
}
table.sortable th[data-sort]:focus {
    text-decoration: underline;
    outline: 1px dashed #F07F1F;
    outline-offset: -2px;
}
table.sortable th[data-sort]:focus:hover {
    outline: none;
}

table.sortable th[data-sort]:after {
    position: absolute;
    padding-left: 2px;
    opacity: 0.8;
    text-decoration: none !important;
}
table.sortable th[data-sort].sorted-asc:after {
    content: "↓";
}
table.sortable th[data-sort].sorted-desc:after {
    content: "↑";
}


/* number indentation in tables */

.number-indent-apply-1:before {
    content: "0";
    opacity: 0;
}
.number-indent-apply-2:before {
    content: "00";
    opacity: 0;
}


/* radiotables list */

.radiotables-list-item {
    background: #FAFFF8;
    border: 1px solid #D2D2D2;
    padding: 1em 1.4em;
    margin: 1.2em 0;
}
.radiotables-list-item dd {
    margin-left: 0;
}

.radiotables-list-item:focus-within:not(:hover) {
    background: rgba(255,255,255, 1);
    border-color: #BABABA;
}

.radiotables-list-title a, .radiotables-list-details dl {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.radiotables-list-title a {
    display: block;
    font-size: 1.6em;
}
.radiotables-list-title a:focus {
    /* make outline visible with overflow */
    outline-offset: -1px;
}

.radiotables-list-details dl {
    margin: 0.4em 0 0.1em;
    font-size: 0.8em;
}
.radiotables-list-details dt, .radiotables-list-details dd {
    display: inline;
}
.radiotables-list-details dt:after {
    content: ':';
}
.radiotables-list-details dt:not(:first-child) {
    margin-left: 1em;
}


/* customized radiotable page */

.full-width .site-width {
    max-width: 100%;
}
@media (min-width: 900px)
{
    .full-width .site-width {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}

.customized-radiotable .site-header {
    background: rgba(255,255,255, 0.9);
}

.customized-radiotable table.radiotable tbody tr:hover, .customized-radiotable table.radiotable tbody tr:focus-within {
    background: rgba(200,200,200, 0.4);
}
.customized-radiotable table.radiotable .quality:before {
    text-shadow: 0 0 1px #000;
}
.customized-radiotable table.radiotable span.rds:not(:hover):not(:focus) {
    background: rgba(200,200,200, 0.8);
}
.customized-radiotable table.sortable th[data-sort]:focus {
    outline-color: currentColor;
}

.customized-radiotable .customizable-color h1 {
    color: inherit;
    text-shadow: none;
}
.customized-radiotable .customizable-color table.radiotable th {
    color: inherit;
    opacity: 0.8;
    text-shadow: 0 0 0 rgba(0,0,0, 0.7);
}
.customized-radiotable .customizable-color table.radiotable td {
    border-top: 0;
    box-shadow: inset 0 2px 2px -3px currentColor;
}
@supports (-moz-user-select: none)
{
    .customized-radiotable .customizable-color table.radiotable td {
        box-shadow: inset 0 3px 3px -5px currentColor;
    }
}
.customized-radiotable .customizable-color a {
    color: inherit;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
.customized-radiotable .customizable-color a:focus {
    outline-color: currentColor;
}


/* information paragraph */

.information {
    box-shadow: 0 0 2px #eee;
    padding: 2em 100px 2em 2em;
    background-color: rgba(180,240,255, 0.35);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='51.264' height='116.008' viewBox='0 0 6.408 14.501'%3E%3Cpath fill='rgba(0,0,0, 0.12)' d='M4.603 0c-.496 0-.924.165-1.28.497-.353.331-.533.731-.533 1.196 0 .466.179.865.533 1.193.356.328.784.492 1.28.492.497 0 .922-.164 1.275-.492a1.57 1.57 0 0 0 .53-1.193c0-.465-.177-.865-.53-1.196A1.792 1.792 0 0 0 4.603 0zM2.92 4.906c-.404 0-.834.072-1.29.218-.454.144-.931.318-1.43.521l-.2.828c.146-.056.324-.113.53-.176.206-.06.408-.09.604-.09.401 0 .67.066.813.201.141.135.212.375.212.717 0 .192-.022.403-.068.633-.046.228-.104.473-.171.731l-.761 2.688a8.23 8.23 0 0 0-.147.759c-.03.224-.045.444-.045.659 0 .553.203 1.008.61 1.367.409.36.982.539 1.718.539.479 0 .9-.063 1.262-.189.363-.126.847-.308 1.455-.548l.203-.827a3.564 3.564 0 0 1-.506.17 2.4 2.4 0 0 1-.626.097c-.392 0-.67-.065-.827-.194-.16-.129-.239-.372-.239-.728 0-.141.024-.351.073-.626.05-.275.105-.521.167-.736l.757-2.68c.074-.247.125-.516.152-.811.027-.294.041-.5.041-.617 0-.564-.199-1.023-.594-1.376-.397-.352-.961-.53-1.692-.53z'/%3E%3C/svg%3E");
    background-position: right 2em center;
    background-repeat: no-repeat;
    background-size: 27px auto;
    /* https://icons8.com/icon/76/info */
}
.information a {
    color: #0088C6;
}
.JS .tabbed-ui .information {
    box-shadow: none;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}


/* search form */

.search-form {
    display: flex;
    margin: 1em 0 2em;

    /* needed for WebKit, not Blink */
    align-items: center;
}
.search-form button {
    margin: 0;
    margin-left: 0.6em;
    width: 80px;
}


/* page — homepage */

.homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    margin: 1em 0;
}
.homepage > * {
    width: 48.3%;
    box-sizing: border-box;
    margin: 1em 0;
}

.homepage section {
    background: rgba(255,255,255, 0.4);
    box-shadow: 0 0 2px rgba(0,0,0, 0.15);
    padding: 0.2em 1.3em 0.4em;
}
.homepage section h2 {
    font-size: 1.4em;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(200,200,200, 0.3);
    color: #4A673C;
}
.homepage section p {
    line-height: 1.35em;
}

.homepage-radiotables-list {
    list-style: none;
    padding-left: 0;
}
.homepage-radiotables-list li {
    margin: 0.3em 0;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homepage-radiotables-list a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 0.05em 0;
    margin-right: 1em;
    display: block;
    width: 100%;
}
.homepage-radiotables-list span {
    white-space: nowrap;
    text-align: right;
    color: rgba(0,0,0, 0.4);
    font-size: 0.7em;
}
.homepage-radiotables-list a:hover + span, .homepage-radiotables-list a:focus + span {
    color: rgba(0,0,0, 0.8);
}

.homepage .search-form {
    margin: 1.3em 0;
}


/* page — user profile */

.user-profile-page h2 {
    color: #5D9A3F;
    line-height: 1.1em;
}

.user-profile-description {
    line-height: 1.5em;
}

.user-profile-details {
    display: flex;
    justify-content: center;
    margin: 1em auto 1.5em;
    font-style: italic;
}
.user-profile-details > * {
    display: flex;
    margin: 0 1em;
}
.user-profile-details dt, .user-profile-details dd {
    padding: 0 0.3em;
    margin: 0;
}
.user-profile-details dt:after {
    content: ":";
}


/* page — login/register */

.user-login-screen {
    max-width: 400px;
    margin: 2.5em auto;
}

.user-login-screen .form-item.form-regular {
    /* for IE 11 only */
    display: block;
}
@supports (color: initial)
{
    /* keep these styles in sync with mobile form item list */
    .user-login-screen .form-item.form-regular {
        flex-direction: column;

        /* reset from IE 11 hack */
        display: flex;
    }
}
.user-login-screen .form-item.form-regular > *:first-child {
    width: auto;
}
.user-login-screen .form-item.form-regular label {
    margin-bottom: 0.5em;
}
.user-login-screen .form-item.form-checkbox {
    margin: 1.3em 0;
}


/* page — all radiotables */

.all-radiotables-navigation {
    padding-left: 0;
    margin: 1.5em 0;
    text-align: center;
}
.all-radiotables-navigation li {
    display: inline-block;
    margin: 0 1em;
}
.all-radiotables-navigation li a {
    color: #5D9A3F;
}
.all-radiotables-navigation li a.selected {
    font-weight: bold;
}


/* page — contact form */

form.contact-form {
    max-width: 700px;
    margin: auto;
}
form.contact-form textarea {
    min-height: 170px;
}

form.contact-form p {
    line-height: 1.5em;
    margin-bottom: 1.7em;
}


/* page — terms of service */

.terms-of-service-page {
    line-height: 1.5em;

    display: flex;
}
.terms-of-service-page > *:first-child {
    flex: 1;
}
.terms-of-service-page > *:last-child {
    flex-basis: 310px;
    padding-left: 3em;
}

.terms-of-service-page ol {
    padding-left: 1.5em;
}
.terms-of-service-page ol li {
    padding-left: 0.3em;
    margin: 0.3em 0;
}
.terms-of-service-page h2 {
    margin-top: 0;
}
.terms-of-service-page + p {
    font-style: italic;
    text-align: center;
}


/* page — about service */

.about-service-page {
    line-height: 1.6em;
    max-width: 700px;
    margin: auto;
}
.about-service-page p {
    margin: 0.5em 0;
}


/* radiotable settings, columns UI */

.JS .radiotable-columns {
    width: 80%;
    margin: 1.2em auto;
}
.JS .radiotable-columns .form-item {
    background: #F3F3F3;
    box-shadow: inset 2px 2px 2px #DEDEDE;
    border: 1px solid #C2C2C2;
    padding: 0.5em 1em;
    box-sizing: border-box;
    align-items: center;
}
.JS .radiotable-columns .form-item label {
    margin-top: 0;
}
.JS .radiotable-columns .form-item > :last-child {
    text-align: right;
}
.JS .radiotable-columns .form-item.hidden-column {
    background: #FBFBFB;
    box-shadow: inset 2px 2px 2px #efefef;
    border-color: #dfdfdf;
}
.JS .radiotable-columns .form-item.hidden-column label {
    text-decoration: line-through;
    opacity: 0.5;
}
.JS .radiotable-columns .form-item button {
    display: inline;
    width: auto;
    height: 2em;
    width: 85px;
    margin: 0 0 0 0.6em;
    white-space: nowrap;
}
.JS .radiotable-columns .form-item button:first-of-type {
    margin-left: 0;
}


/* radiotable settings, export list */

.radiotable-export-list {
    list-style: none;
    padding-left: 0;
}
.radiotable-export-list li {
    margin-top: 0.8em;
}
.radiotable-export-list a {
    margin-right: 0.7em;
    width: 250px;
    vertical-align: baseline;
}


/* radiostation edit/add, rds */

.radiostation-rds input, .radiostation-rds textarea {
    font-family: "Inconsolata", "Consolas", "Source Code Pro", "Lucida Console", monospace;
}
.radiostation-rds textarea {
    min-height: 80px;
}


/* radiotable settings, status */

.radiotable-status .form-item {
    padding: 1.2em 0 1.1em 78px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: left 2px center;
    background-size: 50px;
    /* https://icomoon.io/ */
}
.radiotable-status .form-item:nth-of-type(1) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3E%3Cpath d='M256.005.004C114.623.004.009 114.618.009 256c0 141.384 114.614 255.996 255.996 255.996 141.384 0 255.996-114.613 255.996-255.996C512.001 114.618 397.388.004 256.005.004zm144.846 341.328c4.576-21.575 7.464-44.475 8.404-68.265h67.97a219.61 219.61 0 0 1-16.363 68.265H400.85zM111.16 170.668c-4.576 21.575-7.465 44.475-8.404 68.266H34.787a219.656 219.656 0 0 1 16.361-68.266h60.012zm254.729 0c5.127 21.846 8.212 44.721 9.216 68.266H273.071v-68.266h92.817zm-92.817-34.133V36.623c7.781 2.264 15.49 6.064 23.055 11.397 14.177 9.995 27.74 25.39 39.221 44.525 7.937 13.227 14.801 27.954 20.531 43.99h-82.806zm-96.408-43.991c11.482-19.135 25.043-34.532 39.221-44.525 7.564-5.333 15.274-9.133 23.054-11.397v99.913h-82.806c5.731-16.035 12.595-30.762 20.531-43.99zm62.275 78.124v68.266H136.907c1.002-23.544 4.089-46.419 9.215-68.266h92.817zM51.149 341.332a219.643 219.643 0 0 1-16.361-68.265h67.969c.939 23.791 3.828 46.69 8.404 68.265H51.149zm85.758-68.265h102.032v68.265h-92.817c-5.126-21.845-8.212-44.721-9.215-68.265zm102.032 102.397v99.913c-7.78-2.264-15.49-6.065-23.054-11.397-14.178-9.995-27.74-25.392-39.221-44.525-7.937-13.228-14.8-27.956-20.532-43.99h82.807zm96.408 43.991c-11.481 19.134-25.044 34.531-39.221 44.525-7.565 5.332-15.274 9.132-23.055 11.397v-99.913h82.807c-5.731 16.035-12.595 30.762-20.532 43.99zm-62.275-78.123v-68.265h102.033c-1.002 23.544-4.089 46.421-9.216 68.265h-92.817zm136.183-102.398c-.94-23.791-3.828-46.691-8.404-68.266h60.012a219.68 219.68 0 0 1 16.363 68.266h-67.97zm33.765-102.399h-51.146c-9.94-31.339-23.667-58.822-40.168-80.76 22.685 10.848 43.23 25.395 61.18 43.344 11.456 11.454 21.526 23.966 30.134 37.416zM99.125 99.12c17.951-17.951 38.495-32.496 61.18-43.344-16.502 21.938-30.226 49.421-40.168 80.761H68.992c8.607-13.45 18.678-25.961 30.133-37.416zM68.992 375.464h51.145c9.941 31.339 23.667 58.822 40.169 80.762-22.685-10.848-43.23-25.395-61.18-43.346-11.456-11.454-21.527-23.966-30.134-37.416zm343.894 37.416c-17.95 17.95-38.495 32.498-61.18 43.346 16.502-21.938 30.228-49.422 40.168-80.762h51.146c-8.608 13.45-18.678 25.961-30.134 37.416z'/%3E%3C/svg%3E");
}
.radiotable-status .form-item:nth-of-type(2) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3E%3Cpath d='M341.334 370.935v-23.457c31.331-17.656 56.887-61.675 56.887-105.7 0-70.69 0-127.996-85.33-127.996s-85.33 57.305-85.33 127.996c0 44.026 25.555 88.044 56.887 105.7v23.457c-96.487 7.887-170.661 55.296-170.661 112.614h398.209c0-57.317-74.175-104.726-170.661-112.614z'/%3E%3Cpath d='M145.428 381.92c24.582-16.067 55.144-28.282 88.793-35.738-6.69-7.904-12.759-16.721-17.996-26.231-13.517-24.548-20.662-51.58-20.662-78.173 0-38.24 0-74.358 13.6-103.891 13.203-28.668 36.945-46.441 70.763-53.105-7.517-33.99-27.528-56.331-80.807-56.331-85.33 0-85.33 57.305-85.33 127.997 0 44.025 25.556 88.044 56.887 105.7v23.457C74.189 293.492.015 340.901.015 398.219h123.999c6.452-5.738 13.598-11.187 21.417-16.298z'/%3E%3C/svg%3E");
}
.radiotable-status .form-item:nth-of-type(3) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3E%3Cpath d='M472.971 23.025c-9.373-9.372-24.568-9.372-33.941 0L337.948 124.107c-25.969-7.877-53.474-12.111-81.948-12.111-111.659 0-208.441 65.021-256 160 20.561 41.062 50.324 76.52 86.511 103.548L7.03 455.025c-9.373 9.373-9.373 24.568 0 33.941 4.686 4.687 10.828 7.03 16.97 7.03s12.284-2.343 16.971-7.029l432-432c9.372-9.373 9.372-24.569 0-33.942zM208 175.996c21.12 0 39.041 13.647 45.46 32.598l-60.862 60.862c-18.951-6.419-32.598-24.34-32.598-45.46 0-26.51 21.49-48 48-48zm-152.942 96c19.146-30.262 44.637-55.962 74.717-75.148a231.722 231.722 0 0 1 5.931-3.65c-4.981 13.664-7.706 28.411-7.706 43.798 0 27.445 8.643 52.869 23.35 73.709l-30.462 30.462c-26.223-18.421-48.601-41.941-65.83-69.171zM384 236.996c0-13.583-2.128-26.667-6.051-38.949L217.045 358.951A127.894 127.894 0 0 0 256 364.996c70.691 0 128-57.309 128-128z'/%3E%3Cpath d='M415.013 160.983l-34.681 34.681c.632.393 1.265.784 1.893 1.184 30.081 19.187 55.571 44.887 74.717 75.148-19.146 30.261-44.637 55.961-74.718 75.148-37.797 24.109-81.445 36.852-126.224 36.852-19.332 0-38.451-2.38-56.981-7.02l-38.447 38.447c29.859 10.731 61.975 16.573 95.428 16.573 111.655 0 208.438-65.021 256-160-22.511-44.958-56.059-83.198-96.987-111.013z'/%3E%3C/svg%3E");
}


/* radiotable/radiostation remove, list */

.radiostations-remove {
    max-height: 430px;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0.05em 1em;
    background: #F9FCF9;
    border: 1px solid #D6EAD0;
}
.radiostations-remove fieldset {
    margin: 0;
}


/* radiotable/radiostation remove, warning */

.radiotable-remove-confirm {
    border: 3px dashed red;
    padding: 0 1em;
}


/* my account details list */

.my-account-details > * {
    display: flex;
}
.my-account-details > * > * {
    flex: 1;
    margin: 0.3em 0;
}
.my-account-details dt:after {
    content: ":";
}


/* button in tabbed UI */

.JS .tabbed-ui > div > form > button {
    margin-top: 1.5em;
    margin-bottom: 0.7em;
}
.JS .tabbed-ui + button {
    margin-top: 1.3em;
}


/* CKEditor */

.cke_chrome {
    box-shadow: none !important;
    border: none !important;
}
.cke_chrome.cke_focus {
    outline: 1px solid #F07F1F !important;
}
.cke_reset_all, .cke_reset_all *, .cke_reset_all a {
    font-family: inherit !important;
}
.cke_toolgroup {
    background-image: linear-gradient(to bottom,#fff,#efefef) !important;
}

.cke_chrome .cke_inner {
    background: rgba(224,224,224, 0.3) !important;
}
.cke_chrome .cke_wysiwyg_div {
    padding: 2px 11px !important;
    background: #F3F3F3 !important;
    border: 1px solid #C2C2C2 !important;
    box-shadow: inset 2px 2px 2px #DEDEDE !important;
}
.cke_chrome span.cke_top, .cke_chrome span.cke_bottom {
    box-shadow: none !important;
    border: 1px solid #C2C2C2 !important;
    background: none !important;
}
.cke_chrome span.cke_top {
    border-bottom: none !important;
}
.cke_chrome span.cke_bottom {
    border-top: none !important;
}
.cke_chrome .cke_wordcount {
    text-transform: lowercase;
    padding: 1px 0.7em 0 0;
}
.cke_chrome .cke_wordcount span {
    cursor: default !important;
}

.cke_chrome .cke_wysiwyg_div p, .cke_chrome .cke_wysiwyg_div ul, .cke_chrome .cke_wysiwyg_div ol {
    margin: 0.8em 0;
}

.cke_dialog_body {
    box-shadow: 0 0 6px #222 !important;
}
.cke_dialog_body .cke_resizer {
    display: none !important;
}
.cke_dialog_body option[value="anchor"] {
    display: none !important;
}
select.cke_dialog_ui_input_select {
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
    background-image: none;
}
