/* general */

@font-face {
    font-family: "LatoLatinWeb";
    src: url('fonts/LatoLatin-Regular.woff2'), url('fonts/LatoLatin-Regular.woff');
}
@font-face {
    font-family: "LatoLatinWeb";
    src: url('fonts/LatoLatin-Heavy.woff2');
    font-weight: bold;
}
@font-face {
    font-family: "LatoLatinWeb";
    src: url('fonts/LatoLatin-Italic.woff2');
    font-style: italic;
}
@font-face {
    font-family: "Inconsolata";
    src: url('fonts/Inconsolata.woff2');
}

body {
    font: 17px "LatoLatinWeb", "Liberation Sans", "Arial", sans-serif;
    color: #000;
    text-rendering: optimizeLegibility;
    background: #F7FFF3;

    cursor: default;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

a {
    color: #D66200;
    transition: linear 0.1s color;

    text-decoration: none;
    border: none;
    outline: none;
}
a:hover {
    text-decoration: underline;
    color: #0084FF;
}
a:active {
    color: #64BE00;
}
a:focus:not(:hover):not(:active) {
    text-decoration: underline;
    outline: 1px dashed #F07F1F;
    outline-offset: 2px;
}

.sr-only {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


/* site width */

.site-width {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}
@media (min-width: 1600px)
{
    .site-width {
        max-width: 1300px;
    }
}


/* site header */

.site-header {
    background: rgba(255,255,255, 0.6);
    box-shadow: 0 0 5px rgba(0,0,0, 0.2);
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}
@supports (-moz-user-select: none)
{
    .site-header {
        /* box-shadow version for Firefox */
        box-shadow: 0 0 4px rgba(0,0,0, 0.18);
    }
}
.site-header > div {
    display: flex;
    justify-content: space-between;
}

.site-header h1 a {
    background: url('images/logo.png') no-repeat;
    width: 245px;
    height: 62px;

    display: block;
    text-indent: -9999px;
    overflow: hidden;
}
.site-header h1 {
    margin: 0;
}


/* site navigation */

.site-navigation {
    text-align: right;
}
.site-navigation ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.site-navigation li {
    display: inline;
}
.site-navigation li:before {
    margin: 0 0.4em;
    content: " | ";
    color: rgba(0,0,0, 0.1);
    font-size: 0.9em;
    vertical-align: 1px;
}
.site-navigation li:first-child:before {
    display: none;
}
.site-navigation a {
    text-shadow: 0 0 2px #eee;
    color: #5D9A3F;

    display: inline-block;
}
.site-navigation a:hover {
    color: #EE6D00;
}
.site-navigation .user-menu {
    margin: 0.55em 0 0.6em;
    font-size: 0.8em;
    color: #8E8E8E;
}
.site-navigation .user-menu a {
    color: inherit;
}
.site-navigation .user-menu .username {
    font-weight: bold;
}


/* site footer */

.site-footer {
    font-size: 0.8em;
    text-align: center;

    border-top: 1px solid rgba(0,0,0, 0.11);
    padding: 1em 0 2.6em 0;
    margin-top: 2em;
}
.site-footer ul {
    display: inline;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.site-footer p, .site-footer li {
    display: inline-block;
    margin: 0 0.73em;
}


/* notification */

.notification-wrapper {
    display: block;

    text-align: center;
    font-weight: bold;
}
.notification {
    padding: 0.2em 2em;

    background: rgba(255,247,189, 0.6);
    color: #000;
}
.notification.error {
    background: rgba(255,0,0, 0.7);
    color: #FFF;
}

@keyframes notification_show
{
    from {
        top: -800px;
    }
    to {
        top: 76px;
    }
}
@keyframes notification_hide
{
    from {
        top: 76px;
    }
    to {
        top: -100px;
        opacity: 0.1;
    }
}

.JS .notification-wrapper {
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    text-align: center;
    height: 1px;

    animation-name: notification_show;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.JS .notification-wrapper .notification {
    display: inline-block;
    min-width: 400px;
    max-width: 800px;

    text-align: center;
    font-weight: bold;
    padding: 0.8em 1.5em;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
    border-radius: 2px;
}
.JS .notification-wrapper.hidden {
    top: -100px;

    animation-name: notification_hide;
    animation-duration: 0.75s;
    animation-timing-function: ease-in;
}


/* main content */

.main-content {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: auto;
    min-height: 500px;
}

.main-content > header h2 {
    color: #EE6D00;
    margin: 0.5em 0 1.5rem 0;
    font-size: 2em;
    text-shadow: 0 0 2px #eee;

    font-weight: normal;
}

.main-content h3 {
    font-size: 1.6em;
    margin: 1rem 0;
    text-shadow: 0 0 2px #eee;

    font-weight: normal;
}


/* form widgets */

input, textarea, select, button {
    font-size: 0.88em;
    width: 100%;
    padding: 5px 11px;
    background: #F3F3F3;
    box-shadow: inset 2px 2px 2px #DEDEDE;
    border: 1px solid #C2C2C2;

    outline: none;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}
input:focus, textarea:focus, select:focus, button:focus {
    outline: 1px solid #F07F1F;

    /* needed for WebKit/Blink */
    outline-offset: 0px;
}
textarea {
    resize: vertical;
    min-height: 80px;
}
input[type="number"] {
    width: 80px;
    text-align: center;
    margin-right: 0.2em;
}
input[type="number"].decimal {
    width: 100px;
}
@supports(-webkit-app-region: initial)
{
    input[type="search"]::-webkit-search-cancel-button {
        /* remove "X" from search input in WebKit */
        -webkit-appearance: none;
    }
    input::-webkit-calendar-picker-indicator {
        /* remove ugly arrow in inputs with datalist attribute in WebKit */
        display: none;
    }
}

select {
    /* hide default select arrow */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg height='16px' width='35px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='%23999' points='23.303,-0.002 12.467,10.834 1.63,-0.002 -0.454,2.082 12.467,15.002 14.551,12.918 25.387,2.082'/%3E%3C/svg%3E");
    background-position: center right;
    background-repeat: no-repeat;

    /* needed for WebKit */
    border-radius: 0;
}
select::-ms-expand {
    /* "appearance: none" for Internet Explorer */
    display: none;
}
@supports (-moz-user-select: none)
{
    /* smaller horizontal padding for Firefox */
    select {
        padding-left: 7px;
        padding-right: 7px;
    }

    /* dirty hack for removing dotted border inside select in Firefox */
    select:-moz-focusring {
        color: rgba(0,0,0, 0) !important;
        text-shadow: 0 0 0 #000 !important;
    }
    option {
        color: #000 !important;
        text-shadow: none !important;
    }
}

button {
    max-width: 40%;
    margin: 1em auto 0;
    background: #F2FFC6;
    color: #F07F1F;
    font-weight: bold;
    transition: linear 0.1s background-color;

    display: block;
    box-shadow: none;
}
button:hover:not(:disabled), button:focus {
    background: #F07F1F;
    color: #F2FFC6;
}
button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
@supports (-moz-user-select: none)
{
    /* remove Firefox dotted border inside button */
    button::-moz-focus-inner {
        border: none !important;
    }
}

fieldset {
    padding: 0;
    border: none;

    /* undo "magic" top margin from fieldset */
    margin: -0.9em 0 0;
}


/* form widgets — checkboxes + labels */

input[type="checkbox"], input[type="radio"] {
    width: auto;
    padding: 0;
    margin: 0;

    /* hide real checkbox and keep it above fake checkbox */
    position: absolute;
    opacity: 0;
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
    content: " ";

    display: inline-block;
    width: 17px;
    height: 17px;
    padding: 0;

    vertical-align: -3px;
    margin-right: 0.6em;

    /* copied from form widgets styles */
    background: #F3F3F3;
    box-shadow: inset 2px 2px 2px #DEDEDE;
    border: 1px solid #C2C2C2;
}
input[type="radio"] + label:before {
    border-radius: 10px;
}
input[type="checkbox"]:focus + label:before, input[type="radio"]:focus + label:before {
    /* copied from form widgets styles */
    outline: 1px solid #F07F1F;
}
input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 9px 9px;
}
input[type="checkbox"]:checked + label:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 1.852 1.852'%3E%3Cpath fill='%23FF7500' d='M0 0h1.852v1.852H0z'/%3E%3C/svg%3E");
}
input[type="radio"]:checked + label:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 1.852 1.852'%3E%3Ccircle fill='%23FF7500' cx='19.798' cy='24.486' r='.926' transform='translate%28-18.872 -23.56%29'/%3E%3C/svg%3E");
}


/* form widgets — special */

input.jscolor {
    max-width: 200px;
}
input.jscolor:not([style=""]) {
    /* dirty hack to remove box-shadow when color is filled */
    box-shadow: none;
}


/* form items lists */

.form-item {
    width: 100%;
}

.form-item.form-regular {
    display: flex;
    margin: 0.7em 0;
}
.form-item.form-regular:first-child {
    margin-top: 1em;
}
.form-item.form-regular:last-child {
    margin-bottom: 1em;
}
.form-item.form-regular > *:first-child {
    width: 40%;
}
.form-item.form-regular > *:last-child {
    flex: 1;
}

.form-item.form-checkbox {
    margin: 0.9em 0;
}

.form-item label {
    display: block;
}
.form-item.form-regular label {
    margin-top: 5px;
}


/* tabbed UI */

.JS .tabbed-ui > div {
    background: rgba(255,255,255, 0.37);
    padding: 0.5em 1.2em;
    border: 1px solid #D2D2D2;
}
.JS .tabbed-ui > div:not(.tabbed-ui-current) {
    display: none;
}

.tabbed-ui-navigator {
    padding-left: 0;
    list-style-type: none;
    margin: 0 0 -1px;

    vertical-align: bottom;
}
.tabbed-ui-navigator li {
    display: inline;
}
.tabbed-ui-navigator button {
    margin-right: 0.4em;
    padding: 0.6em 0.9em 0.2em 0.9em;
    background: rgba(255,255,255, 0.37);
    border: 1px solid #D2D2D2;
    border-bottom-color: rgba(255,255,255, 0.8);

    white-space: nowrap;
    display: inline-block;
    outline-style: none;
    color: inherit;
    transition-property: opacity;
    width: auto;
    font-weight: normal;
    margin-top: 0;
}
.tabbed-ui-navigator button:hover {
    background: #fff;
    color: inherit;
}
.tabbed-ui-navigator button:focus:not(:hover):not(:active) {
    opacity: 1;
    outline-style: dashed;
}
.tabbed-ui-navigator button:not(.tabbed-ui-current) {
    opacity: 0.63;
    border-bottom: 0;
    padding-top: 0.2em;
}


/* radiotable — wrapper */

.radiotable-container {
    /* reset visual vertical padding of table cells */
    margin: 0 -0.4em;

    overflow-x: auto;

    position: relative;
    background-size: 40px 100%;
    background-repeat: no-repeat;
}

.radiotable-container.overflow-right {
    background-image: linear-gradient(90deg, rgba(0,0,0, 0), rgba(250,230,205, 0.4));
    background-position: right;
}
.radiotable-container.overflow-left {
    background-image: linear-gradient(90deg, rgba(250,230,205, 0.4), rgba(0,0,0, 0));
    background-position: left;
}
.radiotable-container.overflow-left.overflow-right {
    background-image: linear-gradient(90deg, rgba(0,0,0, 0), rgba(250,230,205, 0.4)),
                      linear-gradient(90deg, rgba(250,230,205, 0.4), rgba(0,0,0, 0));
    background-position: right, left;
}


/* radiotable */

table.radiotable {
    width: 100%;
    border-collapse: collapse;

    font-size: 0.96em;
}

table.radiotable td, table.radiotable th {
    padding: 0.31em 0.5em;
    text-align: left;
}
table.radiotable th {
    padding-bottom: 0.5em;
    color: #477E2D;
    font-weight: normal;
}
table.radiotable td {
    border-top: 1px solid rgba(0,0,0, 0.05);
}
@supports(-webkit-app-region: initial)
{
    /* color for WebKit */
    table.radiotable td {
        border-top: 1px solid rgba(0,0,0, 0.025);
    }
}

table.radiotable tbody tr {
    transition: background 0.1s, box-shadow 0.5s;
}
table.radiotable tbody tr:hover {
    background: rgba(250,230,205, 0.8);
}


/* radiotable — special cells */

table.radiotable tr.marker-1 {
    font-weight: bold;
}
table.radiotable tr.marker-2 {
    font-style: italic;
}
table.radiotable tr.marker-3 {
    text-decoration: line-through;
}
table.radiotable tr.marker-4 {
    background: rgba(255,209,209, 0.65) !important;
}
table.radiotable tr.marker-5 {
    background: rgba(175,255,150, 0.65) !important;
}
table.radiotable tr.marker-6 {
    background: rgba(156,230,255, 0.65) !important;
}

table.radiotable .quality {
    color: rgba(0,0,0, 0);
    display: block;

    /* override from themes */
    text-shadow: none !important;
}
@supports (-moz-user-select: none)
{
    table.radiotable .quality::-moz-selection {
        opacity: 0;
    }
}
table.radiotable .quality::selection {
    opacity: 0;
}
table.radiotable .quality:before {
    text-shadow: 0 0 2px #CCC;
    margin-right: -10px;
    letter-spacing: 2px;
}
table.radiotable .quality.quality-5:before {
    color: #0BB300;
    content: "●●●●●";
}
table.radiotable .quality.quality-4:before {
    color: #A8D300;
    content: "●●●●";
}
table.radiotable .quality.quality-3:before {
    color: #BDAC00;
    content: "●●●";
}
table.radiotable .quality.quality-2:before {
    color: #FF5E00;
    content: "●●";
}
table.radiotable .quality.quality-1:before {
    color: #FF0017;
    content: "●";
}

table.radiotable span.rds {
    white-space: pre;
    background: rgba(160,160,160, 0.2);
    font-family: "Inconsolata", "Consolas", "Source Code Pro", "Lucida Console", monospace;
    color: black;
    padding: 1px 3px;
    transition: background 0.2s, color 0.2s;

    /* reset markers styles */
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
table.radiotable span.rds:hover, table.radiotable span.rds:focus {
    background: rgba( 0,0,0, 0.7 );
    color: #fff;
    outline: none;
}

table.radiotable small {
    font-size: 0.7em;
    vertical-align: 2px;
}
table.radiotable abbr {
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
}


/* radiotable — info section */

.radiotable-info {
    margin-top: 1.8em;
    line-height: 1.5em;
}
.radiotable-info p {
    margin: 0.4em 0;
}

.radiotable-info dl {
    display: flex;
    width: 100%;

    border-top: 1px solid rgba(0,0,0, 0.05);
    font-size: 0.9em;
    margin-top: 1.5em;
    padding: 0.8em 2em 0 2em;
    box-sizing: border-box;
}
.radiotable-info dl > * {
    flex: 1;
    margin: 0;
    padding: 0 0.5em;
}
.radiotable-info dt {
    text-align: right;
}
.radiotable-info dt:after {
    content: ":";
}
.radiotable-info dd {
    text-align: left;
}
.radiotable-info dd:not(:last-child) {
    border-right: 1px solid rgba(0,0,0, 0.05);
}


/* radiotable — RDS popup */

@keyframes rds_popup_show
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.rds-popup {
    background: #fff;
    color: #000;
    border: 1px solid #eee;
    box-shadow: 0 0 3px rgba(0,0,0, 0.4);
    width: 430px;

    animation-name: rds_popup_show;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-delay: 0.15s;
    animation-fill-mode: both;
}

.rds-popup h3 {
    background: #eee;
    color: #555;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
    padding: 0.1em 0;
    margin: 0;
}

.rds-popup dl {
    font-size: 0.8em;
    margin: 1.2em;
}
.rds-popup dl > div {
    margin-bottom: 0.5em;
    display: flex;
    flex: 1;
    width: 100%;
}
.rds-popup dl > div[hidden] {
    /* weird fix of weird bug */
    display: none;
}
.rds-popup dt {
    min-width: 12%;
    font-weight: bold;
}
.rds-popup dt:after {
    content: ":";
}
.rds-popup dd {
    margin-left: 0;
}

.rds-popup dd span {
    display: inline-block;
    margin: 0 9px 4px 0;
    border-bottom: 1px solid transparent;   /* Unvisible border for proper padding sizing. */

    white-space: pre;
    background: rgba(160,160,160, 0.2);
    font-family: "Inconsolata", "Consolas", "Source Code Pro", "Lucida Console", monospace;
}

.rds-popup dd div {
    margin-bottom: 3px;
}
.rds-popup dd div span {
    border-top: 1px solid transparent;   /* Unvisible border for proper padding sizing. */
    border-bottom: 1px solid transparent;

    display: inline;
    white-space: pre-wrap !important;
    margin: 0;
}


/* sortable table */

table.sortable th[data-sort] {
    cursor: pointer;
}
table.sortable th[data-sort]:focus {
    text-decoration: underline;
    outline: 1px dashed #F07F1F;
    outline-offset: -1px;
}
table.sortable th[data-sort]:focus:hover {
    outline: none;
}

table.sortable th[data-sort]:after {
    position: absolute;
    padding-left: 2px;
    opacity: 0.8;
    text-decoration: none !important;
}
table.sortable th[data-sort].sorted-asc:after {
    content: "↓";
}
table.sortable th[data-sort].sorted-desc:after {
    content: "↑";
}


/* number indentation in tables */

.number-indent-apply-1:before {
    content: "0";
    opacity: 0;
}
.number-indent-apply-2:before {
    content: "00";
    opacity: 0;
}


/* radiotable settings, columns UI */

.JS .radiotable-columns {
    width: 80%;
    margin: 1em auto;
}
.JS .radiotable-columns .form-item {
    background: #F3F3F3;
    box-shadow: inset 2px 2px 2px #DEDEDE;
    border: 1px solid #C2C2C2;
    padding: 0.5em 1em;
    box-sizing: border-box;
    align-items: center;
}
.JS .radiotable-columns .form-item label {
    margin-top: 0;
}
.JS .radiotable-columns .form-item > :last-child {
    text-align: right;
}
.JS .radiotable-columns .form-item.hidden-column {
    background: #FBFBFB;
    box-shadow: inset 2px 2px 2px #efefef;
    border-color: #dfdfdf;
}
.JS .radiotable-columns .form-item.hidden-column label {
    text-decoration: line-through;
    opacity: 0.5;
}
.JS .radiotable-columns .form-item button {
    display: inline;
    width: auto;
    height: 2em;
    width: 85px;
    margin: 0 0 0 0.6em;
    white-space: nowrap;
}
