/* theme — bieszczady */

.theme-bieszczady .customizable-background {
    background: #E1E1E1 url('themes/bieszczady.jpg') no-repeat center / cover fixed;
}
.theme-bieszczady .customizable-color {
    color: #000;
}
.theme-bieszczady table.radio-table tbody tr:hover, .theme-bieszczady table.radio-table tbody tr:focus-within {
    background: #E5E5E5;
}
.theme-bieszczady .site-header {
    background-color: rgba(255,255,255, 0.5);
}

/* theme — wood */
/* https://pixnio.com/textures-and-patterns/wood-texture/texture-old-retro-dirty-wood-knot */

.theme-wood .customizable-background {
    background: #F2DAB6 url('themes/wood.jpg') no-repeat center / cover fixed;
}
.theme-wood .customizable-color {
    color: #000;
}
.theme-wood table.radio-table tbody tr:hover, .theme-wood table.radio-table tbody tr:focus-within {
    background: #E6C1A8;
}
.theme-wood table.radio-table td, .radio-table-details dl, .radio-table-details dd {
    border-color: rgba(170,92,36, 0.2);
}
.theme-wood .site-header {
    background-color: rgba(255,255,255, 0.65);
}

/* theme — rainbow */
/* http://www.publicdomainpictures.net/view-image.php?image=25019&picture=dark-clouds-and-rainbow/ */

.theme-rainbow .customizable-background {
    background: #D8DAD7 url('themes/rainbow.jpg') no-repeat center / cover fixed;
}
.theme-rainbow .customizable-color {
    color: #060015;
    text-shadow: 0 0 2px #AAA;
}
.theme-rainbow .rds-popup {
    text-shadow: none;
}
.theme-rainbow table.radio-table tbody tr:hover, .theme-rainbow table.radio-table tbody tr:focus-within {
    background: rgba(255,255,255, 0.35);
}
.theme-rainbow table.radio-table td, .radio-table-details dl, .radio-table-details dd {
    border-color: rgba(0,0,0, 0.1);
}
.theme-rainbow .site-header {
    background-color: rgba(255,255,255, 0.45);
}

/* theme — night */
/* http://magdeleine.co/photo-by-caleb-ralston-n-491/ */

.theme-night .customizable-background {
    background: #2A3944 url('themes/night.jpg') no-repeat center / cover fixed;
}
.theme-night .customizable-color {
    color: #eee;
    text-shadow: 0 0 3px #111;
}
.theme-night .customizable-color a {
    border-color: rgba(255,255,255, 0.6);
}
.theme-night .rds-popup, .theme-night table.radio-table span.rds {
    text-shadow: none;
}
.theme-night table.radio-table tbody tr:hover, .theme-night table.radio-table tbody tr:focus-within {
    background: rgba(0,0,0, 0.35);
}
.theme-night table.radio-table td, .radio-table-details dl, .radio-table-details dd {
    border-color: rgba(255,255,255, 0.1);
}
.theme-night table.radio-table tr.marker-4, .theme-night table.radio-table tr.marker-5, .theme-night table.radio-table tr.marker-6 {
    color: #000;
    text-shadow: 0 0 2px #aaa;
}
.theme-night .site-header {
    background-color: rgba(255,255,255, 0.8);
    box-shadow: 0 0 3px #555;
}
.theme-night .site-footer {
    border-color: #444;
}
