{% use 'form_div_layout.html.twig' %}
{% use 'common/form/overwritten_types.html.twig' %}

{% block form_row %}
    {% if disabled_radiotable_column %}
        <div class="radiostation-disabled-column">
    {% endif %}
    {{ parent() }}
    {% if disabled_radiotable_column %}
        </div>
    {% endif %}
{% endblock %}

{% block form_label %}
    {% if disabled_radiotable_column %}
        {% set label_attr = label_attr|merge({'title': 'Ta kolumna jest niewidoczna w wykazie.'}) %}
    {% endif %}
    {{ parent() }}
{% endblock %}
