{% extends 'layout.html.twig' %}

{% block page_title %}Kopiowanie stacji{% endblock %}

{% block context_menu %}
    <ul>
        <li><a href="{{ path('radiotable.show', {id: radiotable.id}) }}">Zobacz wykaz</a></li>
        <li><a href="{{ path('radiostation.add', {radioTableId: radiotable.id}) }}">Dodaj stację</a></li>
        <li><a href="{{ path('radiotable.settings', {id: radiotable.id}) }}">Ustawienia wykazu</a></li>
    </ul>
{% endblock %}

{% block page_content %}
    <p>{{ _self }}</p>
{% endblock %}
