{% extends 'layout.html.twig' %}

{% block page_title %}Edycja stacji{% endblock %}

{% block head_closing %}
    <script src="{{ asset('scripts/formsUI.js') }}" defer></script>
{% endblock %}

{% block page_content %}
    <header>
        <h2>Edycja stacji</h2>
    </header>

    {{ form_start(form) }}

    {% include 'radiostation/_form-tabs.html.twig' %}

    <button>Zapisz stację</button>

    {{ form_end(form) }}
{% endblock %}
