button, a.button {
    --background-color: var(--form-widget-background-color);
    --background-color-hover: #e9e9e9;
    --background-color-focus: var(--background-color);
    --border-color: #ddd;
    --shadow-color: rgba(0,0,0, 0.17);

    display: inline-block;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;

    font: inherit;

    color: var(--anchor-primary-text-color);
    background: var(--background-color);
    font-weight: bold;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 2px var(--shadow-color);

    /* keep in sync with form widgets */
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 7px;

    /* keep in sync with form widgets */
    outline: 0 solid transparent;
    transition: linear 0.1s background-color, linear 0.1s outline;
}
button:hover:not(:disabled), a.button:hover {
    background-color: var(--background-color-hover);
}
button:focus-visible, a.button:focus-visible {
    background-color: var(--background-color-focus);

    outline: 2px solid var(--form-widget-outline-color-focus);
    border-color: var(--form-widget-border-color-focus);

    /* needed for WebKit/Blink */
    outline-offset: 0px;
}
button:active, a.button:active {
    opacity: 0.7;
}
button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

a.button {
    text-align: center;
    width: auto;
    text-decoration: none;

    margin: 0;
}

@media (prefers-color-scheme: dark)
{
    button, a.button {
        --background-color-hover: #505050;
        --border-color: #505050;
    }
}
