.form-widget-number-unit {
    position: relative;
}
.form-widget-number-unit input {
    /* keep in sync with input's padding right */
    padding-right: calc(11px + 70px);
}
.form-widget-number-unit .unit-label {
    position: absolute;

    /* keep in sync with input's border width */
    right: 1px;
    top: 1px;
    bottom: 1px;

    /* keep in sync with input's border radius */
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    border-left: 1px solid var(--form-widget-border-color);

    background: var(--form-widget-background-color);
    width: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.form-widget-number-unit input:disabled + .unit-label {
    opacity: 0.4;
    cursor: not-allowed;
}
