@font-face {
    font-family: "LatoLatinWeb";
    src: url('../../fonts/LatoLatin-Regular.woff2'), url('../../fonts/LatoLatin-Regular.woff');
}
@font-face {
    font-family: "LatoLatinWeb";
    src: url('../../fonts/LatoLatin-Heavy.woff2');
    font-weight: bold;
}
@font-face {
    font-family: "LatoLatinWeb";
    src: url('../../fonts/LatoLatin-Italic.woff2');
    font-style: italic;
}
@font-face {
    font-family: "LatoLatinWeb";
    src: url('../../fonts/LatoLatin-HeavyItalic.woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Inconsolata";
    src: url('../../fonts/Inconsolata.woff2');
}

:root {
    --site-background-color: #f7f6f5;
    --view-background-color: #fff;

    --focus-border-color: #f07f1f;
    --focus-outline-color: rgb(240,127,31, 0.6);

    --anchor-primary-text-color: #a84c00;
    --anchor-secondary-text-color: #477e2d;

    --heading-primary-text-color: #D66200;
    --heading-secondary-text-color: #487631;

    --layout-border-color: #dfdfdf;
    --detail-border-color: #cacaca;
}

body {
    --text-color: #000;

    font: 17px "LatoLatinWeb", "Liberation Sans", "Arial", sans-serif;
    color: var(--text-color);
    text-rendering: optimizeLegibility;
    background: var(--site-background-color);

    cursor: default;
    overflow-y: scroll;
    margin: 0;
    padding: 0;

    color-scheme: light;
}

html {
    /* make sure sticky site header and sticky form action button don't cover site content */
    /* in case of client-side validation error or keyboard based navigation */
    scroll-padding-top: 100px;
    scroll-padding-bottom: 125px;
}

a {
    --text-color: var(--anchor-primary-text-color);
    --text-color-hover: #0084FF;
    --text-color-active: #64BE00;

    color: var(--text-color);
    transition: linear 0.1s color;

    text-decoration: none;
    border: none;
    outline: none;
}
a:hover {
    text-decoration: underline;
    color: var(--text-color-hover);
    outline: none;
}
a:active {
    color: var(--text-color-active);
    outline: none;
}

*:focus-visible {
    outline-offset: 3px;
    outline: 2px solid var(--focus-outline-color);
}

.sr-only {
    position: absolute !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    padding: 0 !important;
    border: 0 !important;
}

.skip-link {
    position: absolute;
    left: 40px;
    top: 40px;
    transform: translateX(-200%);

    background: var(--view-background-color);
    padding: 15px;
    line-height: 1;
    border: 3px solid currentColor;
    font-size: 1.3em;
    font-weight: bold;

    /* above sticky site header */
    z-index: 1001;
}
.skip-link:focus {
    transform: translateX(0);
}

.site-width {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 34px;
    padding-right: 34px;
}

@media (max-width: 767px)
{
    .site-width {
        padding-left: 5vw;
        padding-right: 5vw;

        /* override style from .custom-width and .full-width */
        min-width: 320px !important;
        box-sizing: border-box;
    }
}

@media (prefers-color-scheme: dark)
{
    :root {
        --site-background-color: #2c2c2c;
        --view-background-color: #3a3a3a;

        --focus-border-color: #f07f1f;
        --focus-outline-color: rgb(240,127,31, 0.6);

        --anchor-primary-text-color: #ffb981;
        --anchor-secondary-text-color: #b2e499;

        --heading-primary-text-color: #f29c31;
        --heading-secondary-text-color: #81c260;

        --layout-border-color: #494949;
        --detail-border-color: #585858;
    }

    body {
        --text-color: #eee;

        color-scheme: dark;
    }

    a {
        --text-color-hover: #59afff;
        --text-color-active: #9eeb47;
    }
}
