.information {
    --background-color: rgba(180,240,255, 0.2);
    --shadow-color: rgba(0,0,0, 0.07);

    border-radius: 7px;
    box-shadow: 0 4px 22px var(--shadow-color);
    padding: 34px;
    background-color: var(--background-color);
}
.information a {
    --text-color: #0076AB;
}

@media (max-width: 767px)
{
    .information {
        padding: 26px 20px;
        font-size: 0.9em;
        background-image: none;
    }
}
