.information {
    border-radius: 7px;
    box-shadow: 0 4px 22px rgba(0,0,0, 0.07);
    padding: 34px 100px 34px 34px;
    background-color: rgba(180,240,255, 0.2);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='51.264' height='116.008' viewBox='0 0 6.408 14.501'%3E%3Cpath fill='rgba(0,0,0, 0.12)' d='M4.603 0c-.496 0-.924.165-1.28.497-.353.331-.533.731-.533 1.196 0 .466.179.865.533 1.193.356.328.784.492 1.28.492.497 0 .922-.164 1.275-.492a1.57 1.57 0 0 0 .53-1.193c0-.465-.177-.865-.53-1.196A1.792 1.792 0 0 0 4.603 0zM2.92 4.906c-.404 0-.834.072-1.29.218-.454.144-.931.318-1.43.521l-.2.828c.146-.056.324-.113.53-.176.206-.06.408-.09.604-.09.401 0 .67.066.813.201.141.135.212.375.212.717 0 .192-.022.403-.068.633-.046.228-.104.473-.171.731l-.761 2.688a8.23 8.23 0 0 0-.147.759c-.03.224-.045.444-.045.659 0 .553.203 1.008.61 1.367.409.36.982.539 1.718.539.479 0 .9-.063 1.262-.189.363-.126.847-.308 1.455-.548l.203-.827a3.564 3.564 0 0 1-.506.17 2.4 2.4 0 0 1-.626.097c-.392 0-.67-.065-.827-.194-.16-.129-.239-.372-.239-.728 0-.141.024-.351.073-.626.05-.275.105-.521.167-.736l.757-2.68c.074-.247.125-.516.152-.811.027-.294.041-.5.041-.617 0-.564-.199-1.023-.594-1.376-.397-.352-.961-.53-1.692-.53z'/%3E%3C/svg%3E");
    background-position: right 34px center;
    background-repeat: no-repeat;
    background-size: 27px auto;
    /* https://icons8.com/icon/76/info */
}
.information a {
    color: #0088C6;
}

@media (max-width: 767px)
{
    .information {
        padding: 26px 20px;
        font-size: 0.9em;
        background-image: none;
    }
}
