.radio-table-columns-ui {
    margin: 20px auto;
    max-width: 800px;
}
.radio-table-columns-ui .form-item {
    --background-color: var(--ui-block-background-color);
    --border-color: var(--ui-block-border-color);
    --shadow-color: var(--ui-block-shadow-color);
    --background-color-hidden-column: #fafafa;
    --border-color-hidden-column: #e9e9e9;
    --shadow-color-hidden-column: #efefef;

    border-radius: 7px;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 6px var(--shadow-color);

    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.radio-table-columns-ui .form-item label {
    margin: 0;
}
.radio-table-columns-ui .form-item > :last-child {
    text-align: right;
    flex: 1;
}
.radio-table-columns-ui .form-item.hidden-column {
    background: var(--background-color-hidden-column);
    border-color: var(--border-color-hidden-column);
    box-shadow: inset 1px 1px 2px var(--shadow-color-hidden-column);
}
.radio-table-columns-ui .form-item.hidden-column label {
    text-decoration: line-through;
    opacity: 0.6;
}
.radio-table-columns-ui .form-item button {
    display: inline;
    width: auto;
    min-width: 100px;
    margin: 0 0 0 10px;
    white-space: nowrap;
}
.radio-table-columns-ui .form-item button:first-of-type {
    margin-left: 0;
}

@media (max-width: 767px)
{
    .radio-table-columns-ui .form-item {
        flex-direction: row;
    }
    .radio-table-columns-ui .form-item label {
        margin-bottom: 0;
    }
}

@media (max-width: 700px)
{
    .radio-table-columns-ui .form-item {
        flex-direction: column;
    }
    .radio-table-columns-ui .form-item label {
        margin-bottom: 15px;
    }
    .radio-table-columns-ui .form-item > :last-child {
        text-align: center;
        white-space: nowrap;
    }
}
@media (max-width: 440px)
{
    .radio-table-columns-ui .form-item button {
        min-width: auto;
        height: auto;
        font-size: 0.8em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (prefers-color-scheme: dark)
{
    .radio-table-columns-ui .form-item {
        --background-color-hidden-column: #292929;
        --border-color-hidden-column: #353535;
        --shadow-color-hidden-column: #1f1f1f;
    }
}
