{% extends 'layout.html.twig' %}

{% block head_closing %}
    <link rel="stylesheet" href="{{ asset('admin.css') }}">
{% endblock %}

{% block page_title %}Panel administracyjny{% endblock %}

{% block context_menu %}
    <ul>
        <li><a href="{{ path('admin.logs') }}">Dziennik błędów</a></li>
        <li><a href="{{ path('admin.radiotables') }}">Lista wykazów</a></li>
        <li><a href="{{ path('admin.users') }}">Lista użytkowników</a></li>
    </ul>
{% endblock %}
