{% extends 'admin/_admin_layout.html.twig' %}

{% block page_content %}
    <header>
        <h1>Panel administracyjny — dziennik błędów</h1>
    </header>

    {% set logs = logs|trim|split("\n") %}

    <div class="logs">
        <pre>
{% for log_line in logs %}
{% if not loop.first %}

{% endif -%}

{% set log_line = log_line|split(": ", 2) %}
<b>{{ log_line[0] }}</b>
{{ log_line[1] }}
{% endfor %}
        </pre>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let element = document.querySelector('.logs');
            element.scrollTop = element.scrollHeight - element.clientHeight;
        });
    </script>
{% endblock %}
