table.sortable th[data-sort] {
    cursor: pointer;
}
table.sortable th[data-sort]:focus-visible {
    outline: 2px solid rgb(240,127,31, 0.6);
    outline-offset: -3px;
}

table.sortable th[data-sort]::after {
    position: absolute;
    padding-left: 2px;
    opacity: 0.8;
    text-decoration: none !important;
}
table.sortable th[data-sort].sorted-asc::after {
    content: "↓";
}
table.sortable th[data-sort].sorted-desc::after {
    content: "↑";
}
