table.sortable th[data-sort] {
    cursor: pointer;
}
table.sortable th[data-sort]:focus {
    text-decoration: underline;
    outline: 1px dashed #F07F1F;
    outline-offset: -2px;
}
table.sortable th[data-sort]:focus:hover {
    outline: none;
}

table.sortable th[data-sort]::after {
    position: absolute;
    padding-left: 2px;
    opacity: 0.8;
    text-decoration: none !important;
}
table.sortable th[data-sort].sorted-asc::after {
    content: "↓";
}
table.sortable th[data-sort].sorted-desc::after {
    content: "↑";
}
