/* wrapper */

.tabbed-ui-wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 40px;
}

@media (max-width: 800px)
{
    .tabbed-ui-wrapper {
        display: block;
    }
}


/* navigation */

@media (max-width: 800px)
{
    .tabbed-ui-navigation {
        display: none;
    }
}

.tabbed-ui-navigation ol {
    list-style: none;
    padding-left: 0;
    margin: 0;

    position: sticky;
    top: 20px;
}
.tabbed-ui-navigation a {
    display: block;

    border: 1px solid #eee;
    background: #fff;
    padding: 10px 20px;

    position: relative;
    overflow: hidden;
}
.tabbed-ui-navigation a:hover, .tabbed-ui-navigation a:focus {
    background: #f1f1f1;
}
.tabbed-ui-navigation a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    background: #ef7f20;
    width: 7px;
    transform: translateX(-100%);
    transition: transform linear 0.1s;
}
.tabbed-ui-navigation a.active::before {
    transform: translateX(0);
}
.tabbed-ui-navigation li + li a {
    border-top: none;
}
.tabbed-ui-navigation li:first-child a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.tabbed-ui-navigation li:last-child a {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


/* content */

.tabbed-ui div:first-child h2 {
    margin-top: 0;
}
