.full-width .site-width {
    max-width: 100%;
}
@media (min-width: 900px)
{
    .full-width .site-width, .custom-width .site-width {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}

.customized-radio-table .site-header {
    background-color: rgba(255,255,255, 0.9);
}
.customized-radio-table .site-footer {
    background: rgba(30,30,30, 0.7);
}
.customized-radio-table .site-footer > div::before {
    opacity: 0.3;
}

.customized-radio-table .radio-table tbody tr:hover, .customized-radio-table .radio-table tbody tr:focus-within {
    background: rgba(200,200,200, 0.4);
}
.customized-radio-table .radio-table .quality::before {
    text-shadow: 0 0 1px #000;
}
.customized-radio-table .radio-table .rds {
    background: rgba(200,200,200, 0.8);
}
.customized-radio-table .radio-table .rds[tabindex]:hover, .customized-radio-table .radio-table .rds:focus {
    background: rgba(0,0,0, 0.55);
}
.customized-radio-table table.sortable th[data-sort]:focus {
    outline-color: currentColor;
}

.customized-radio-table .customizable-color h1 {
    color: inherit;
    text-shadow: none;
}
.customized-radio-table .customizable-color .radio-table th {
    color: inherit;
    opacity: 0.8;
    text-shadow: 0 0 0 rgba(0,0,0, 0.7);
}
.customized-radio-table .customizable-color .radio-table td {
    border-top: 0;
    box-shadow: inset 0 2px 2px -3px currentColor;
}
.customized-radio-table .customizable-color a {
    color: inherit;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
.customized-radio-table .customizable-color a:focus {
    outline-color: currentColor;
}

@media (max-width: 767px)
{
    .customized-radio-table .customizable-background {
        background-image: none !important;
    }
}
