.number-indent-1 {
    padding-left: 1ch;
}
.number-indent-2 {
    padding-left: 2ch;
}
.number-indent-3 {
    padding-left: 3ch;
}
.number-indent-4 {
    padding-left: 4ch;
}
.number-indent-5 {
    padding-left: 5ch;
}
