.radio-table-container {
    --overflow-color: rgba(250,230,205, 0.4);

    /* reset visual vertical padding of table cells */
    margin-left: -6px;
    margin-right: -6px;

    margin-top: -10px;

    overflow-x: auto;

    position: relative;
    background-size: 40px 100%;
    background-repeat: no-repeat;
}

.radio-table-container.overflow-right {
    background-image: linear-gradient(90deg, rgba(255,255,255, 0), var(--overflow-color));
    background-position: right;
}
.radio-table-container.overflow-left {
    background-image: linear-gradient(90deg, var(--overflow-color), rgba(255,255,255, 0));
    background-position: left;
}
.radio-table-container.overflow-left.overflow-right {
    background-image: linear-gradient(90deg, rgba(255,255,255, 0), var(--overflow-color)),
                      linear-gradient(90deg, var(--overflow-color), rgba(255,255,255, 0));
    background-position: right, left;
}

@media (max-width: 767px)
{
    .radio-table-container {
        margin-left: -5vw;
        margin-right: -5vw;
    }
}

@media (prefers-color-scheme: dark)
{
    .radio-table-container {
        --overflow-color: rgba(83,70,52, 0.4);
    }
}
