.form-columns-with-number-first {
    grid-template-columns: 1fr 1fr 1fr;
}
.form-columns-with-number-first *:last-child {
    grid-column: 2 / -1;
}

.radio-station-disabled-column input:not(:focus),
.radio-station-disabled-column select:not(:focus),
.radio-station-disabled-column textarea:not(:focus) {
    opacity: 0.5;
}
.radio-station-disabled-column label, .radio-station-disabled-column .unit-label {
    opacity: 0.65;
    text-decoration: line-through;
}

.radio-station-rds input, .radio-station-rds textarea {
    font-family: "Inconsolata", "Consolas", "Source Code Pro", "Lucida Console", monospace;
}
.radio-station-rds textarea {
    min-height: 80px;
}
