{% extends 'layout.html.twig' %}

{% block page_title %}O stronie{% endblock %}

{% block page_content %}
    <header>
        <h1>O stronie</h1>
    </header>

    <div class="plain-text-page">
        <p>
            RadioLista to miejsce w&nbsp;Internecie, gdzie osoby pasjonujące się radiofonią i&nbsp;mediami mogą publikować różnorodne wykazy radiowe, czasem też telewizyjne &mdash; bandscany, regularne wykazy odbieranych stacji, a&nbsp;także prywatne listy ulubionych nadawców.
        </p>
        <p>
            Rejestracja w&nbsp;serwisie jest bezpłatna. Zarejestrowany użytkownik może utworzyć nieograniczoną liczbę wykazów. Może też w&nbsp;pewnym stopniu personalizować wygląd i&nbsp;strukturę każdego z&nbsp;nich, a&nbsp;także ograniczyć dostęp tylko dla siebie.
        </p>

        <p>
            Skąd wziął się pomysł? Autor serwisu po stworzeniu swojego amatorskiego prywatnego wykazu odbieranych rozgłośni nie mógł znaleźć dobrze przemyślanego i&nbsp;zaprojektowanego do&nbsp;publikacji tego typu treści miejsca w&nbsp;sieci, dlatego postanowił wykorzystać swoje umiejętności programistyczne i&nbsp;stworzyć taki serwis.
        </p>
        <p>
            RadioLista wystartowała 1&nbsp;lipca&nbsp;2012 roku. Od tego momentu w&nbsp;serwisie zarejestrowało się kilkudziesięciu użytkowników, stworzono prawie dwieście wykazów, dodano łącznie kilkanaście tysięcy stacji! 20&nbsp;marca&nbsp;2016 roku światło dzienne ujrzała odświeżona wersja serwisu. Od&nbsp;4&nbsp;maja&nbsp;2018 roku witryna funkcjonuje pod adresem radiolista.pl.
        </p>
        <p>
            Kolejna wersja serwisu RadioLista została uruchomiona 20&nbsp;kwietnia&nbsp;2019 roku. Kod&nbsp;źródłowy aplikacji został udostępniony na&nbsp;zasadach open&nbsp;source, a&nbsp;użytkownicy mogą zgłaszać błędy i&nbsp;propozycje nowych funkcji w&nbsp;repozytorium w&nbsp;serwisie GitHub.
        </p>
        <p class="p-for-button">
            <a class="button" href="https://github.com/TomaszGasior/RadioLista-v3" target="_blank" rel="noopener">
                Przejdź do repozytorium RadioListy
            </a>
        </p>
        <p>
            Autorem RadioListy jest Tomasz Gąsior. Więcej o nim na stronie <a href="https://tomaszgasior.pl" target="_blank" rel="noopener">tomaszgasior.pl</a>.
        </p>
    </div>
{% endblock %}
