{% extends 'layout.html.twig' %}

{% block head_closing %}
    {{ encore_entry_link_tags('static-page') }}
{% endblock %}

{% block page_title %}{{ 'general.static_page.about_service'|trans }}{% endblock %}

{% block page_content %}
    <header>
        <h1>{{ 'general.static_page.about_service'|trans }}</h1>
    </header>

    <div class="plain-text-page">
        {% if app.request.locale == 'pl' %}
            <p>
                RadioLista to miejsce w&nbsp;Internecie, gdzie osoby pasjonujące się radiofonią i&nbsp;mediami mogą publikować różnorodne wykazy radiowe, czasem też telewizyjne &mdash; bandscany, regularne wykazy odbieranych stacji, a&nbsp;także prywatne listy ulubionych nadawców.
            </p>
            <p>
                Rejestracja w&nbsp;serwisie jest bezpłatna. Zarejestrowany użytkownik może utworzyć nieograniczoną liczbę wykazów. Może też w&nbsp;pewnym stopniu spersonalizować strukturę każdego z&nbsp;nich, a&nbsp;także ograniczyć dostęp tylko dla siebie.
            </p>

            <p>
                Skąd wziął się pomysł? Autor serwisu po stworzeniu swojego amatorskiego prywatnego wykazu odbieranych rozgłośni nie mógł znaleźć dobrze przemyślanego i&nbsp;zaprojektowanego do&nbsp;publikacji tego typu treści miejsca w&nbsp;sieci, dlatego postanowił wykorzystać swoje umiejętności programistyczne i&nbsp;stworzyć taki serwis.
            </p>
            <p>
                RadioLista wystartowała 1&nbsp;lipca&nbsp;2012 roku. Od tego momentu w&nbsp;serwisie zarejestrowało się kilkuset użytkowników, stworzono setki wykazów, dodano łącznie kilkadziesiąt tysięcy stacji! 20&nbsp;marca&nbsp;2016 roku światło dzienne ujrzała odświeżona wersja serwisu. Od&nbsp;4&nbsp;maja&nbsp;2018 roku witryna funkcjonuje pod adresem radiolista.pl.
            </p>
            <p>
                Kolejna wersja serwisu RadioLista została uruchomiona 20&nbsp;kwietnia&nbsp;2019 roku. Kod&nbsp;źródłowy aplikacji został udostępniony na&nbsp;zasadach open&nbsp;source, a&nbsp;użytkownicy mogą zgłaszać błędy i&nbsp;propozycje nowych funkcji w&nbsp;repozytorium w&nbsp;serwisie GitHub.
            </p>
            <p>
                W lipcu 2022 roku z okazji dziesiątych urodzin RadioLista otrzymała nową, świeżą szatę graficzną oraz nowy układ serwisu poprawiający ergonomię korzystania z platformy.
            </p>
            <p class="p-for-button">
                <a class="button" href="https://github.com/TomaszGasior/RadioLista-v3" target="_blank" rel="noopener">
                    Przejdź do repozytorium RadioListy
                </a>
            </p>
            <p>
                Autorem RadioListy jest Tomasz Gąsior. Więcej o nim na stronie <a href="https://tomaszgasior.pl" target="_blank" rel="noopener">tomaszgasior.pl</a>.
            </p>
        {% else %}
            <p>
                RadioLista is a&nbsp;place in the&nbsp;Web where people interested in the&nbsp;media and the&nbsp;radio can publish various radio and TV lists — bandscans, regular lists of received stations, as well as private lists of favorite broadcasters.
            </p>
            <p>
                This website is completely free. A registered user can create an&nbsp;unlimited number of lists. The&nbsp;structure of each list can be personalized. Also, the&nbsp;user can limit access to&nbsp;the&nbsp;list to himself.
            </p>
            <p>
                Where did the&nbsp;idea come from? This website has been created by <a href="https://tomaszgasior.pl" target="_blank" rel="noopener">the&nbsp;programmer</a> who wanted to publish his list with received radio stations. While most people preferred to use plain&nbsp;text files or spreadsheets, he considered these solutions poor and unproductive.
            </p>
            <p>
                RadioLista launched on July 1, 2012, after two months of work. Second release with new design and features launched on March 20, 2016. Since May 4, 2018 the&nbsp;site is available at&nbsp;radiolista.pl domain.
            </p>
            <p>
                Third major release on April 20, 2019 started new open source history&nbsp;of the&nbsp;RadioLista. On&nbsp;May 16, 2020, English user interface has been added. On July 1, 2022, completely new layout has been introduced to make RadioLista fresh and easy to use.
            </p>
            <p class="p-for-button">
                <a class="button" href="https://github.com/TomaszGasior/RadioLista-v3" target="_blank" rel="noopener">
                    Go to the&nbsp;RadioLista repository
                </a>
            </p>
            <p>
                The&nbsp;current version of RadioLista, based on Symfony framework, is developed as open source software on GitHub repository where users can report bugs and suggestions of new features and contribute to the&nbsp;project.
            </p>
        {% endif %}
    </div>
{% endblock %}
