{% extends 'layout.html.twig' %}

{% block page_title %}Wszystkie wykazy{% endblock %}

{% block page_content %}
    <header>
        <h1>Wszystkie wykazy RadioListy</h1>

        {% set sorting_modes = {
            1: 'Sortuj według liczby stacji',
            2: 'Sortuj według daty aktualizacji',
            3: 'Sortuj według jednostki',
        } %}
        <ul class="all-radiotables-navigation">
            {% for id, label in sorting_modes %}
                <li>
                    <a {{ app.request.get('sorting') == id ? 'class="selected"' : '' }}
                        href="{{ path('all_radiotables', {'sorting': id}) }}">
                        {{ label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </header>

    {% set show_owner = true %}
    {% include 'common/radiotables_list.html.twig' %}
{% endblock %}
