{% extends 'layout.html.twig' %}

{% block head_closing %}
    {{ encore_entry_link_tags('static-page') }}
{% endblock %}

{% block page_title %}{{ 'general.static_page.contact'|trans }}{% endblock %}

{% block page_content %}
    <header>
        <h1>{{ 'general.static_page.contact'|trans }}</h1>
    </header>

    <div class="plain-text-page">
        {% if app.request.locale == 'pl' %}
            <p>
                RadioLista jest projektem open source rozwijanym z&nbsp;pomocą platformy GitHub.
            </p>
            <p>
                Aby porozmawiać na temat RadioListy, zgłosić napotkany błąd albo zaproponować nową&nbsp;funkcję lub kolumnę wykazu, odwiedź forum dyskusyjne w&nbsp;repozytorium projektu.<br>
                Do udziału w&nbsp;dyskusji wymagane jest założenie konta w&nbsp;serwisie GitHub.
            </p>
            <p class="p-for-button">
                <a class="button" href="https://github.com/TomaszGasior/RadioLista-v3/discussions" target="_blank" rel="noopener">
                    Przejdź do forum RadioListy
                </a>
            </p>
            <p>
                Jeśli posiadasz wiedzę techniczną i chcesz pomóc w&nbsp;tworzeniu RadioListy lub jesteś ciekaw najbliższych planów rozwoju serwisu, odwiedź sekcję zgłoszeń w&nbsp;repozytorium projektu w&nbsp;serwisie GitHub, gdzie gromadzone&nbsp;są wszystkie błędy oraz postęp prac.
            </p>
            <p class="p-for-button">
                <a class="button" href="https://github.com/TomaszGasior/RadioLista-v3/issues" target="_blank" rel="noopener">
                    Przejdź do zgłoszeń RadioListy
                </a>
            </p>
            <p>
                Alternatywnie, w&nbsp;sprawach niedotyczących błędów i&nbsp;nowych funkcji, możesz też wysłać mail do&nbsp;autora RadioListy na adres <em>kontakt@radiolista.pl</em>. Do&nbsp;zgłaszania błędów i&nbsp;propozycji nowych funkcji forum dyskusyjne na&nbsp;GitHubie jest jednakże preferowane.
            </p>
        {% else %}
            <p>
                RadioLista is an&nbsp;open source project developed on the GitHub platform.
            </p>
            <p>
                To talk about RadioLista, report a&nbsp;problem, suggest a&nbsp;new feature or list column, go to the&nbsp;project repository on&nbsp;the&nbsp;GitHub and send your comments in the&nbsp;discussions section.<br>
                GitHub user account is required to take part in the discussions.
            </p>
            <p class="p-for-button">
                <a class="button" href="https://github.com/TomaszGasior/RadioLista-v3/discussions" target="_blank" rel="noopener">
                    Go to RadioLista discussions
                </a>
            </p>
            </p>
            <p>
                Take a look at RadioLista issues section if you want to help with project development. Here&nbsp;you can find list of all bugs and plans for the future.
            </p>
            <p class="p-for-button">
                <a class="button" href="https://github.com/TomaszGasior/RadioLista-v3/issues" target="_blank" rel="noopener">
                    Go to RadioLista issues
                </a>
            </p>
            <p>
                Alternatively, you can also send an&nbsp;email to the&nbsp;address <em>contact@radiolista.pl</em>.<br>
                Please note: the&nbsp;GitHub discussions section is preferred for bugs and feature requests.
            </p>
        {% endif %}
    </div>
{% endblock %}
