{% extends 'layout.html.twig' %}

{% block page_title %}{{ 'general.search_radio_tables.title'|trans }}{% endblock %}

{% block page_content %}
    <header>
        <h1>
            {{ 'general.search_radio_tables.title_pattern'|trans({
                '%search_term%': '<strong>' ~ search_term ~ '</strong>',
            })|raw }}
        </h1>
    </header>

    {% include 'common/search_form.html.twig' %}

    {% if radio_tables %}
        {% set show_owner = true %}
        {% include 'common/radio_tables_list.html.twig' %}
    {% else %}
        <p class="information">
            {{ 'general.search_radio_tables.information.no_results'|trans }}
        </p>
    {% endif %}
{% endblock %}
