{% extends 'layout.html.twig' %}

{% block head_closing %}
    {{ encore_entry_link_tags('static-page') }}
{% endblock %}

{% block page_title %}{{ 'general.static_page.terms_of_service'|trans }}{% endblock %}

{% block page_content %}
    {% include "common/birthday_message.html.twig" %}

    <header>
        <h1>{{ 'general.static_page.terms_of_service'|trans }}</h1>
    </header>

    <div class="terms-of-service-page">
        <article>
            <h2>Regulamin serwisu</h2>

            <ol>
                <li>
                    Użytkownik, korzystając z&nbsp;serwisu, akceptuje niniejszy regulamin, nawet jeśli nie&nbsp;zapoznał się z&nbsp;jego treścią.
                </li>
                <li>
                    Usługa oferowana przez serwis RadioLista jest całkowicie darmowa.
                </li>
                <li>
                    Podczas przeglądania serwisu, zgodnie z&nbsp;polityką prywatności, na komputerze użytkownika są wykorzystywane mechanizmy składowania danych w&nbsp;przeglądarce internetowej.
                </li>
                <li>
                    Twórca serwisu nie upublicznia danych użytkowników. Twórca serwisu zastrzega sobie prawo do ich udostępnienia organom ścigania.
                </li>
                <li>
                    Hasło użytkownika przechowywane jest w&nbsp;formie zaszyfrowanej bez możliwości jego odzyskania.
                </li>
                <li>
                    Użytkownik nie może utrudniać funkcjonowania serwisu oraz nie może publikować treści łamiących polskie prawo, nielogicznych, wulgarnych.
                </li>
                <li>
                    Twórca serwisu zastrzega sobie prawo do usunięcia konta użytkownika, który złamał przepisy polskiego prawa lub zasady niniejszego regulaminu.
                </li>
                <li>
                    Twórca serwisu dołożył wszelkich starań, aby działał on prawidłowo, jednak nie ponosi odpowiedzialności za skutki wynikające z&nbsp;korzystania z&nbsp;serwisu.
                </li>
                <li>
                    Twórca serwisu nie ponosi odpowiedzialności za treści publikowane przez użytkowników. Za&nbsp;zawartość odpowiedzialność ponosi wyłącznie publikujący ją użytkownik.
                </li>
                <li>
                    Twórca serwisu nie ponosi odpowiedzialności za upublicznienie lub utratę danych w&nbsp;wyniku włamań, awarii, problemów technicznych, katastrof.
                </li>
                <li>
                    Twórca serwisu zastrzega sobie prawo do zmiany treści niniejszego regulaminu.
                </li>
            </ol>
        </article>

        <article>
            <h2>Polityka prywatności</h2>

            <ol>
                <li>
                    Serwis RadioLista używa mechanizmów składowania danych po stronie przeglądarki internetowej.
                </li>
                <li>
                    Mechanizm „ciasteczek” jest używany i&nbsp;wymagany do utrzymywania sesji użytkownika po zalogowaniu. Jeśli użytkownik wyłączy mechanizm „ciasteczek”, zalogowanie się nie&nbsp;będzie możliwe.
                </li>
                <li>
                    Mechanizm „ciasteczek” jest wykorzystywany do identyfikowania osoby odwiedzającej witrynę, również niezalogowanej, w&nbsp;celu analizowania ruchu w&nbsp;serwisie z&nbsp;wykorzystaniem statystyk odwiedzin.
                </li>
            </ol>
        </article>
    </div>

    <p>Ostatnia aktualizacja regulaminu i polityki prywatności: {{ '2022-07-01'|format_date_html }}.</p>
{% endblock %}
