/* colors */

body {
    background: #ededed;
}

a, .main-content > header h1, .site-navigation a {
    color: #D20000;
}
button {
    background: #fff;
    color: #D20000;
}


/* hide global elements */

.site-footer ul {
    display: none;
}
.site-navigation .user-menu {
    visibility: hidden;
}


/* tables */

table {
    width: 100%;
    border-collapse: collapse;
}
table tbody tr:hover {
    background: #ddd;
}
table td, table th {
    padding: 4px 10px;
}
table th {
    text-align: left;
    white-space: nowrap;
}
table td {
    border-top: 1px solid #dedede;
}
table td.nowrap {
    white-space: nowrap;
}

table + p {
    font-style: italic;
    text-align: center;
}


/* log */

.logs {
    height: 500px;
    font: 0.8em /1.5em "Source Code Pro", "Consolas", "Inconsolata", monospace;
    overflow-y: scroll;
    overflow-x: auto;
    padding: 1em;

    background: #fff;
    box-shadow: 0 0 2px #cdcdcd;
}
.logs pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.logs pre b {
    display: inline-block;
    padding-bottom: 4px;
}
