/* general */

@font-face {
    font-family: "LatoLatinWeb";
    src: url('../fonts/LatoLatin-Regular.woff2'), url('../fonts/LatoLatin-Regular.woff');
}
@font-face {
    font-family: "LatoLatinWeb";
    src: url('../fonts/LatoLatin-Heavy.woff2');
    font-weight: bold;
}
@font-face {
    font-family: "LatoLatinWeb";
    src: url('../fonts/LatoLatin-Italic.woff2');
    font-style: italic;
}
@font-face {
    font-family: "LatoLatinWeb";
    src: url('../fonts/LatoLatin-HeavyItalic.woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Inconsolata";
    src: url('../fonts/Inconsolata.woff2');
}

body {
    font: 17px "LatoLatinWeb", "Liberation Sans", "Arial", sans-serif;
    color: #000;
    text-rendering: optimizeLegibility;
    background: #F7FFF3;

    cursor: default;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

a {
    color: #D66200;
    transition: linear 0.1s color;

    text-decoration: none;
    border: none;
    outline: none;
}
a:focus {
    text-decoration: underline;
    outline: 1px dashed #F07F1F;
    outline-offset: 2px;
}
a:hover {
    text-decoration: underline;
    color: #0084FF;
    outline: none;
}
a:active {
    color: #64BE00;
    outline: none;
}

.sr-only {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


/* site width */

.site-width {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

@media (max-width: 800px)
{
    .site-width {
        padding-left: 5vw;
        padding-right: 5vw;

        /* override style from .custom-width and .full-width */
        min-width: 320px !important;
        box-sizing: border-box;
    }
}

@media (min-width: 1400px)
{
    .site-width {
        max-width: 1100px;
    }
}


/* site header */

.site-header {
    background-color: rgba(255,255,255, 0.6);
    box-shadow: 0 0 5px rgba(0,0,0, 0.2);
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
.site-header.develop {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' viewBox='0 0 8 8' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Cpath fill='rgba%28255%2C0%2C0%2C0.06%29' d='M0 0h4L0 4zm0 8l8-8v4L4 8z'/%3E%3C/pattern%3E%3C/defs%3E%3Cpath fill='url%28%23a%29' d='M0 0h24v24H0z'/%3E%3C/svg%3E");
    background-size: 30px;
}
.site-header > div {
    display: flex;
    justify-content: space-between;
}

.site-header .site-logo {
    background: url('../images/logo.svg') no-repeat;
    background-size: contain;
    background-position: center;
    width: 245px;
    height: 56px;

    display: block;
    text-indent: -9999px;
    overflow: hidden;
}

@media (max-width: 800px)
{
    .site-header .site-logo {
        width: 72px;
        background-size: auto 100%;
        background-position: left;
        flex-grow: 0;
        flex-shrink: 0;
    }
}


/* site navigation */

.site-navigation {
    text-align: right;
}
.site-navigation ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.site-navigation li {
    display: inline-block;
}
.site-navigation li::before {
    margin: 0 0.4em;
    content: " | ";
    color: rgba(0,0,0, 0.1);
    font-size: 0.9em;
    vertical-align: 1px;
}
.site-navigation li:first-child::before {
    display: none;
}
.site-navigation a {
    text-shadow: 0 0 2px #eee;
    color: #5D9A3F;

    display: inline-block;
}
.site-navigation a:hover {
    color: #EE6D00;
}
.site-navigation .user-menu {
    margin: 0.35em 0 0.6em;
    font-size: 0.8em;
    color: #8E8E8E;
}
.site-navigation .user-menu a {
    color: inherit;
}
.site-navigation .user-menu .username {
    font-weight: bold;
}

@media (max-width: 800px)
{
    .site-navigation {
        line-height: 1.75em;
    }
    .site-navigation li::before {
        display: none;
    }
    .site-navigation li {
        margin-left: 0.7em;
    }

    .site-navigation .user-menu {
        margin: 0.1em 0 0.2em;
    }
}


/* site footer */

.site-footer {
    font-size: 0.8em;
    text-align: center;

    border-top: 1px solid rgba(0,0,0, 0.11);
    padding: 1em 0 2.6em 0;
    margin-top: 2em;
}
.site-footer ul {
    display: inline;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.site-footer p, .site-footer li {
    display: inline-block;
    margin: 0 0.73em;
}

@media (max-width: 800px)
{
    .site-footer {
        line-height: 2em;
    }
}


/* notification */

.notification-wrapper {
    display: block;

    text-align: center;
    font-weight: bold;
}
.notification {
    padding: 0.2em 2em;

    background: rgba(255,247,189, 0.6);
    color: #000;
}
.notification.error {
    background: rgba(255,0,0, 0.7);
    color: #FFF;
}

@keyframes notification_show
{
    from {
        transform: translateY(-450%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes notification_hide
{
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-450%);
        opacity: 0;
    }
}

.JS .notification-wrapper {
    position: absolute;
    z-index: 100;
    top: 76px;
    left: 0;
    right: 0;

    animation: notification_show 0.55s ease;
}
.JS .notification-wrapper .notification {
    display: inline-block;
    min-width: 400px;
    max-width: 800px;

    font-weight: bold;
    padding: 0.8em 1.5em;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
    border-radius: 2px;
}
.JS .notification-wrapper.hidden {
    animation: notification_hide 1.25s ease;
    animation-fill-mode: forwards;
}

@media (max-width: 800px)
{
    @keyframes notification_show
    {
        from {
            transform: translateY(200%);
        }
        to {
            transform: translateY(0);
        }
    }
    @keyframes notification_hide
    {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(200%);
            opacity: 0;
        }
    }

    .JS .notification-wrapper {
        position: fixed;
        bottom: 30px;
        top: auto;
    }
    .JS .notification-wrapper .notification {
        min-width: auto;
        max-width: auto;
        border-radius: 0;

        width: 80%;
    }
}


/* main content */

.main-content {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: auto;
    min-height: 70vh;
}

.main-content > header h1 {
    color: #EE6D00;
    margin: 1.05rem 0 1.5rem;
    font-size: 2em;
    text-shadow: 0 0 2px #eee;

    font-weight: normal;
}
.main-content > header h1.separated-title {
    display: flex;
    flex-direction: column-reverse;
}
.main-content > header h1 .additional {
    font-size: 0.4em;
    color: #000;
    opacity: 0.4;
    padding-left: 2px;
    padding-top: 0.3rem;
}

.main-content h2, .main-content .h2 {
    font-size: 1.6em;
    margin: 1rem 0;
    text-shadow: 0 0 2px #eee;

    font-weight: normal;
}

@media (max-width: 800px)
{
    .main-content {
        min-height: auto;
    }

    .main-content > header h1 {
        font-size: 1.7em;
    }
}


/* form widgets */

input, textarea, select, button, a.button {
    font-size: 0.88em;
    width: 100%;
    padding: 5px 11px;
    background: #F3F3F3;
    box-shadow: inset 2px 2px 2px #DEDEDE;
    border: 1px solid #C2C2C2;

    outline: none;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}
input:focus, textarea:focus, select:focus, button:focus, a.button:focus {
    outline: 1px solid #F07F1F;

    /* needed for WebKit/Blink */
    outline-offset: 0px;
}
input:disabled, textarea:disabled, select:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
textarea {
    resize: vertical;
    min-height: 130px;
}
input[type="number"] {
    width: 110px;
    text-align: center;
    margin-right: 0.2em;
}
@supports (-webkit-app-region: initial)
{
    input[type="search"]::-webkit-search-cancel-button {
        /* remove "X" from search input in WebKit */
        -webkit-appearance: none;
    }
    input::-webkit-calendar-picker-indicator {
        /* remove ugly arrow in inputs with datalist attribute in WebKit */
        display: none;
    }
}
@supports (-webkit-nbsp-mode: initial)
{
    input[type="search"] {
        /* make search input consistent in WebKit, not Blink */
        -webkit-appearance: none;
    }
}

select {
    /* hide default select arrow */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg height='16px' width='35px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='%23999' points='23.303,-0.002 12.467,10.834 1.63,-0.002 -0.454,2.082 12.467,15.002 14.551,12.918 25.387,2.082'/%3E%3C/svg%3E");
    background-position: center right;
    background-repeat: no-repeat;

    /* needed for WebKit */
    border-radius: 0;
}
@supports (-moz-user-select: none)
{
    /* smaller padding for Firefox */
    select {
        padding: 4px 7px;
    }
}

button, a.button {
    max-width: 40%;
    margin: 1em auto 0;
    background: #F8FFDF;
    color: #F07F1F;
    font-weight: bold;
    transition: linear 0.1s background-color;
    border-color: #DDDDDD;
    box-shadow: 0 0 2px rgba(0,0,0, 0.08);
    display: block;
}
button:hover:not(:disabled), button:focus, a.button:hover, a.button:focus {
    background: #F07F1F;
    color: #F2FFC6;
}
button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

a.button {
    text-align: center;
    width: auto;
    text-decoration: none;

    display: inline-block;
    margin: 0;
}

fieldset {
    padding: 0;
    border: none;
    padding: 0.3em 0;

    /* undo "magic" top margin from fieldset */
    margin: -0.9em 0 0;
}

@media (max-width: 800px)
{
    button {
        max-width: 70%;
    }
}


/* form widgets — checkboxes + labels */

input[type="checkbox"], input[type="radio"] {
    width: auto;
    padding: 0;
    margin: 0;

    /* hide real checkbox and keep it above fake checkbox */
    position: absolute;
    z-index: 2;
    opacity: 0;
}

input[type="checkbox"] + label::before, input[type="radio"] + label::before {
    content: " ";

    display: inline-block;
    width: 17px;
    height: 17px;
    padding: 0;

    position: absolute;
    z-index: 1;
    margin-top: 1px;

    /* negative label's padding-left */
    margin-left: calc(-1 * (17px + 0.7em));

    /* copied from form widgets styles */
    background: #F3F3F3;
    box-shadow: inset 2px 2px 2px #DEDEDE;
    border: 1px solid #C2C2C2;
}
input[type="radio"] + label::before {
    border-radius: 10px;
    -moz-outline-radius: 10px;
}
input[type="checkbox"]:focus + label::before, input[type="radio"]:focus + label::before {
    /* copied from form widgets styles */
    outline: 1px solid #F07F1F;
}
input[type="checkbox"]:checked + label::before, input[type="radio"]:checked + label::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 9px 9px;
}
input[type="checkbox"]:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 1.852 1.852'%3E%3Cpath fill='%23FF7500' d='M0 0h1.852v1.852H0z'/%3E%3C/svg%3E");
}
input[type="radio"]:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 1.852 1.852'%3E%3Ccircle fill='%23FF7500' cx='19.798' cy='24.486' r='.926' transform='translate%28-18.872 -23.56%29'/%3E%3C/svg%3E");
}

input[type="checkbox"] + label, input[type="radio"] + label {
    /* keep in sync with ::before's margin-left */
    padding-left: calc(17px + 0.7em);
}
input[type="checkbox"]:focus:not(:hover) + label, input[type="radio"]:focus:not(:hover) + label {
    outline: 1px dotted #F6BD8D;
    outline-offset: 3px;
}


/* form widgets — special */

input.color {
    max-width: 200px;
}
input.color[style] {
    box-shadow: none;
}


/* form items lists */

.form-item {
    width: 100%;
}

.form-item.form-regular {
    display: flex;
    margin: 0.7em 0;
}
.form-item.form-regular > *:first-child {
    width: 40%;
}
.form-item.form-regular > *:last-child {
    flex: 1;
}

.form-item.form-checkbox {
    margin: 0.9em 0;

    /* needed for inputs and fake checkboxes with position absolute */
    position: relative;
}

.form-item label {
    display: block;
}
.form-item.form-regular label {
    margin-top: 5px;
}

@media (max-width: 800px)
{
    .form-item.form-regular {
        flex-direction: column;
    }
    .form-item.form-regular > *:first-child {
        width: auto;
    }
    .form-item.form-regular label {
        margin-bottom: 0.5em;
    }

    .form-item.form-checkbox {
        margin: 1.3em 0;
    }
}


/* radio tables list */

.radio-tables-list-item {
    background: #FAFFF8;
    border: 1px solid #D2D2D2;
    padding: 1em 1.4em;
    margin: 1.2em 0;
}
.radio-tables-list-item dd {
    margin-left: 0;
}

.radio-tables-list-item:focus-within:not(:hover) {
    background: rgba(255,255,255, 1);
    border-color: #BABABA;
}

.radio-tables-list-title a, .radio-tables-list-details dl {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.radio-tables-list-title a {
    display: block;
    font-size: 1.6em;
}
.radio-tables-list-title a:focus {
    /* make outline visible with overflow */
    outline-offset: -1px;
}

.radio-tables-list-details dl {
    margin: 0.4em 0 0.1em;
    font-size: 0.8em;
}
.radio-tables-list-details dt, .radio-tables-list-details dd {
    display: inline;
}
.radio-tables-list-details dt::after {
    content: ':';
}
.radio-tables-list-details dt:not(:first-child) {
    margin-left: 1em;
}


/* information paragraph */

.information {
    box-shadow: 0 0 2px #eee;
    padding: 2em 100px 2em 2em;
    background-color: rgba(180,240,255, 0.35);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='51.264' height='116.008' viewBox='0 0 6.408 14.501'%3E%3Cpath fill='rgba(0,0,0, 0.12)' d='M4.603 0c-.496 0-.924.165-1.28.497-.353.331-.533.731-.533 1.196 0 .466.179.865.533 1.193.356.328.784.492 1.28.492.497 0 .922-.164 1.275-.492a1.57 1.57 0 0 0 .53-1.193c0-.465-.177-.865-.53-1.196A1.792 1.792 0 0 0 4.603 0zM2.92 4.906c-.404 0-.834.072-1.29.218-.454.144-.931.318-1.43.521l-.2.828c.146-.056.324-.113.53-.176.206-.06.408-.09.604-.09.401 0 .67.066.813.201.141.135.212.375.212.717 0 .192-.022.403-.068.633-.046.228-.104.473-.171.731l-.761 2.688a8.23 8.23 0 0 0-.147.759c-.03.224-.045.444-.045.659 0 .553.203 1.008.61 1.367.409.36.982.539 1.718.539.479 0 .9-.063 1.262-.189.363-.126.847-.308 1.455-.548l.203-.827a3.564 3.564 0 0 1-.506.17 2.4 2.4 0 0 1-.626.097c-.392 0-.67-.065-.827-.194-.16-.129-.239-.372-.239-.728 0-.141.024-.351.073-.626.05-.275.105-.521.167-.736l.757-2.68c.074-.247.125-.516.152-.811.027-.294.041-.5.041-.617 0-.564-.199-1.023-.594-1.376-.397-.352-.961-.53-1.692-.53z'/%3E%3C/svg%3E");
    background-position: right 2em center;
    background-repeat: no-repeat;
    background-size: 27px auto;
    /* https://icons8.com/icon/76/info */
}
.information a {
    color: #0088C6;
}

@media (max-width: 800px)
{
    .information {
        padding: 1.5em 1.2em;
        font-size: 0.9em;
        background-image: none;
    }
}


/* search form */

.search-form {
    display: flex;
    margin: 1em 0 2em;

    /* needed for WebKit, not Blink */
    align-items: center;
}
.search-form button {
    margin: 0;
    margin-left: 0.6em;
    width: 80px;
}
