/* general */

@font-face {
    font-family: "LatoLatinWeb";
    src: url('../fonts/LatoLatin-Regular.woff2'), url('../fonts/LatoLatin-Regular.woff');
}
@font-face {
    font-family: "LatoLatinWeb";
    src: url('../fonts/LatoLatin-Heavy.woff2');
    font-weight: bold;
}
@font-face {
    font-family: "LatoLatinWeb";
    src: url('../fonts/LatoLatin-Italic.woff2');
    font-style: italic;
}
@font-face {
    font-family: "LatoLatinWeb";
    src: url('../fonts/LatoLatin-HeavyItalic.woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Inconsolata";
    src: url('../fonts/Inconsolata.woff2');
}

body {
    font: 17px "LatoLatinWeb", "Liberation Sans", "Arial", sans-serif;
    color: #000;
    text-rendering: optimizeLegibility;
    background: #f7f6f5;

    cursor: default;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

a {
    color: #D66200;
    transition: linear 0.1s color;

    text-decoration: none;
    border: none;
    outline: none;
}
a:hover {
    text-decoration: underline;
    color: #0084FF;
    outline: none;
}
a:focus-visible {
    outline-offset: 3px;
    outline: 2px solid rgb(240,127,31, 0.6);
}
a:active {
    color: #64BE00;
    outline: none;
}

.sr-only {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


/* site width */

.site-width {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

@media (max-width: 767px)
{
    .site-width {
        padding-left: 5vw;
        padding-right: 5vw;

        /* override style from .custom-width and .full-width */
        min-width: 320px !important;
        box-sizing: border-box;
    }
}


/* site header */

.site-header {
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
    padding-top: 0.51em;
    padding-bottom: 0.51em;

    position: sticky;
    top: 0;
    z-index: 1000;
}
.site-header.develop {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' viewBox='0 0 8 8' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Cpath fill='rgba%28255%2C0%2C0%2C0.06%29' d='M0 0h4L0 4zm0 8l8-8v4L4 8z'/%3E%3C/pattern%3E%3C/defs%3E%3Cpath fill='url%28%23a%29' d='M0 0h24v24H0z'/%3E%3C/svg%3E");
    background-size: 30px;
}
.site-header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header .site-logo {
    background: url('../images/logo.svg') no-repeat;
    background-size: contain;
    background-position: center;
    height: 38px;
    width: 172px;

    display: block;
    text-indent: -9999px;
    overflow: hidden;
}

@media (max-width: 767px)
{
    .site-header {
        position: static;
        padding-top: 0.8em;
        padding-bottom: 0.5em;
    }
    .site-header > div {
        flex-direction: column;
        align-items: unset;
    }

    .site-header .site-logo {
        margin-bottom: 0.6em;
    }
}


/* site navigation */

.site-navigation {
    text-align: right;
}
.site-navigation ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.site-navigation li {
    display: inline-block;
    margin-right: 20px;
}
.site-navigation li:last-child {
    margin-right: 0;
}
.site-navigation a {
    color: #477E2D;

    display: inline-block;
    padding: 6px 0;
}
.site-navigation a:hover {
    color: #EE6D00;
}
.site-navigation li.user-item {
    color: #111;
}
.site-navigation li.user-item::before {
    content: '';
    display: inline-block;
    vertical-align: -3px;
    width: 1px;
    height: 18px;
    margin-left: -3px;
    margin-right: 17px;
    background: rgba(0,0,0, 0.16);
}
.site-navigation li.user-item + li.user-item::before,
.site-navigation li.user-item:first-child::before {
    display: none;
}
.site-navigation li.user-item a {
    color: inherit;
}

@media (min-width: 768px)
{
    .site-navigation li.user-submenu {
        position: relative;
    }
    .site-navigation li.user-submenu > span {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-right: 23px;

        background-image: url("data:image/svg+xml,%3Csvg height='16px' width='25px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='%23555' points='23.303,-0.002 12.467,10.834 1.63,-0.002 -0.454,2.082 12.467,15.002 14.551,12.918 25.387,2.082'/%3E%3C/svg%3E");
        background-position: top 52.5% right;
        background-repeat: no-repeat;
        background-size: 15px;
    }
    .site-navigation li.user-submenu > span:focus-visible {
        outline-offset: 3px;
        outline: 2px solid rgb(240,127,31, 0.6);
    }
    .site-navigation li.user-submenu ul {
        display: none;

        position: absolute;
        right: 0;
        bottom: -10px;
        transform: translateY(100%);

        padding: 12px 20px;
        text-align: left;
        background: #fff;
        border: 1px solid #cacaca;
        border-radius: 7px;
        box-shadow: 0 0 10px rgba(0,0,0, 0.14);

        margin-top: 10px;
    }
    .site-navigation li.user-submenu ul::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 10px;
        transform: translateY(-100%);
    }
    .site-navigation li.user-submenu:hover ul, .site-navigation li.user-submenu:focus-within ul {
        display: block;
    }
    .site-navigation li.user-submenu li {
        white-space: nowrap;
        display: block;
        margin: 0;
    }
    .site-navigation li.user-submenu a {
        display: block;
    }
}

@media (max-width: 767px)
{
    .site-navigation {
        line-height: 1.45em;
        text-align: left;
    }
    .site-navigation li.user-item::before {
        display: none;
    }
    .site-navigation li.user-submenu > span {
        display: none;
    }
    .site-navigation li.user-submenu {
        display: block;
    }
    .site-navigation li.user-submenu ul {
        font-size: 0.8em;
    }
}


/* site footer */

.site-footer {
    font-size: 0.8em;
    text-align: center;

    border-top: 1px solid rgba(0,0,0, 0.11);
    padding: 1em 0 2.6em 0;
    margin-top: 2em;
}
.site-footer ul {
    display: inline;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.site-footer p, .site-footer li {
    display: inline-block;
    margin: 0 0.73em;
}

@media (max-width: 767px)
{
    .site-footer {
        line-height: 2em;
    }
}


/* notification */

@keyframes notification_show
{
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-100%);
    }
    to {
        transform: translateX(-50%) translateY(0);
    }
}
@keyframes notification_hide
{
    from {
        transform: translateX(-50%) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(-40%);

        /* hide for screen readers */
        visibility: hidden;
    }
}

.notification {
    position: fixed;
    top: 65px;
    left: 50%;

    /* unsuppored by Chrome, included in animations instead */
    /* translate: -50%; */

    /* above site header */
    z-index: 1001;

    min-width: 320px;
    max-width: 800px;

    text-align: center;
    font-weight: bold;

    background: rgba(255, 252, 228, 0.9);
    border: 1px solid #e6e6e6;
    color: #000;

    font-weight: bold;
    padding: 0.8em 1.5em;
    border-radius: 7px;
    box-shadow: 0 4px 20px rgba(0,0,0, 0.07);

    animation: notification_show 0.5s ease, notification_hide 0.8s ease;
    animation-delay: 0s, 6s;
    animation-fill-mode: forwards, forwards;
}
.notification.error {
    background: rgba(255,0,0, 0.8);
    color: #FFF;
    border-color: transparent;
    box-shadow: 0 4px 20px rgba(0,0,0, 0.15);

    animation-delay: 0s, 11s;
}

@media (max-width: 767px)
{
    .notification {
        max-width: auto;
        min-width: auto;
        width: 80%;
        box-sizing: border-box;

        top: unset;

        /* above sticky save changes button */
        bottom: 80px;
    }
}

@media (prefers-reduced-motion)
{
    .notification {
        animation-duration: 0s, 0s;
    }
}


/* main content */

.main-content {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: auto;
    min-height: 70vh;
}

.main-content > header h1 {
    color: #EE6D00;
    margin: 1.05rem 0 1.5rem;
    font-size: 2em;
    text-shadow: 0 0 2px #eee;

    font-weight: normal;
}
.main-content > header h1.separated-title {
    display: flex;
    flex-direction: column-reverse;
}
.main-content > header h1 .additional {
    font-size: 0.4em;
    color: #000;
    opacity: 0.4;
    padding-left: 2px;
    padding-top: 0.3rem;
}

.main-content h2, .main-content .h2 {
    font-size: 1.6em;
    margin: 1rem 0;
    text-shadow: 0 0 2px #eee;

    font-weight: normal;
}

@media (max-width: 767px)
{
    .main-content {
        min-height: auto;
    }

    .main-content > header h1 {
        font-size: 1.7em;
    }
}


/* form widgets */

input, textarea, select, button, a.button {
    width: 100%;
    padding: 6px 11px;
    background: #f9f9f9;
    border: 1px solid #cacaca;
    border-radius: 7px;

    outline: 0 solid transparent;
    transition: linear 0.1s background-color, linear 0.1s outline;

    font: inherit;
    color: inherit;
    box-sizing: border-box;
}
input:focus, textarea:focus, select:focus, button:focus, a.button:focus {
    outline: 2px solid rgb(240,127,31, 0.6);
    border-color: #F07F1F;
    background-color: #fff;

    /* needed for WebKit/Blink */
    outline-offset: 0px;
}
input:disabled, textarea:disabled, select:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
input::placeholder, textarea::placeholder {
    color: inherit;
    opacity: 0.3;
}
textarea {
    resize: vertical;
    min-height: 130px;
}
input[type="number"] {
    text-align: center;
}
@supports (-webkit-app-region: initial)
{
    input[type="search"]::-webkit-search-cancel-button {
        /* remove "X" from search input in WebKit */
        -webkit-appearance: none;
    }
    input::-webkit-calendar-picker-indicator {
        /* remove ugly arrow in inputs with datalist attribute in WebKit */
        display: none;
    }
}
@supports (-webkit-nbsp-mode: initial)
{
    input[type="search"] {
        /* make search input consistent in WebKit, not Blink */
        -webkit-appearance: none;
    }
}

select {
    /* hide default select arrow */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg height='16px' width='45px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='%23999' points='23.303,-0.002 12.467,10.834 1.63,-0.002 -0.454,2.082 12.467,15.002 14.551,12.918 25.387,2.082'/%3E%3C/svg%3E");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 30px;
}

button, a.button {
    display: block;
    margin: 1em auto 0;
    width: auto;
    padding-left: 1.2em;
    padding-right: 1.2em;

    background: #f8f8f8;
    color: #D66200;
    font-weight: bold;
    border-color: #ddd;
    box-shadow: 0 0 2px rgba(0,0,0, 0.17);
}
button:hover:not(:disabled), a.button:hover {
    background-color: #e9e9e9;
}
button:focus, a.button:focus {
    background-color: #f8f8f8;
}
button:active, a.button:active {
    opacity: 0.7;
}
button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

a.button {
    text-align: center;
    width: auto;
    text-decoration: none;

    display: inline-block;
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
    padding: 0.3em 0;
}


/* form widgets — checkboxes + labels */

input[type="checkbox"], input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    display: inline-block;
    width: 19px;
    height: 19px;
    padding: 0;
    margin: 0;
    border-radius: 4px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 9px 9px;
}
input[type="radio"] {
    border-radius: 10px;
}
input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 1 1'%3E%3Crect fill='%23FF7500' rx='0.25' x='0' y='0' width='1' height='1'/%3E%3C/svg%3E");
}
input[type="radio"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 1 1'%3E%3Crect fill='%23FF7500' rx='1' x='0' y='0' width='1' height='1'/%3E%3C/svg%3E");
}

input[type="checkbox"]:focus-visible + label, input[type="radio"]:focus-visible + label {
    outline-offset: 3px;
    outline: 2px solid rgb(240,127,31, 0.6);
}


/* form widgets - number with unit */

.form-widget-number-unit {
    position: relative;
}
.form-widget-number-unit input {
    /* keep in sync with input's padding right */
    padding-right: calc(11px + 70px);
}
.form-widget-number-unit .unit-label {
    position: absolute;

    /* keep in sync with input's border width */
    right: 1px;
    top: 1px;
    bottom: 1px;

    /* keep in sync with input's border radius */
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    /* keep in sync with input's border color */
    border-left: 1px solid #cacaca;

    background: #f8f6f6;
    width: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.form-widget-number-unit input:disabled + .unit-label {
    opacity: 0.4;
    cursor: not-allowed;
}


/* form items lists */

.form-item {
    margin: 20px 0;
}
.form-item label {
    display: inline-block;
    margin-bottom: 7px;
}

@media (min-width: 768px)
{
    .form-columns {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        grid-gap: 20px;

        /* keep in sync with .form-item */
        margin: 20px 0;
    }

    .form-columns .form-item {
        margin: 0;
    }
}

.form-item-checkbox {
    position: relative;

    /* keep in sync with input/checkbox width */
    padding-left: calc(19px + 10px);
}
.form-item-checkbox label {
    display: inline;
    margin-bottom: 0;
}
.form-item-checkbox input {
    position: absolute;
    left: 0;
    top: 1px;
}

.form-error-message {
    color: #ff0000;
    margin: 7px 0 0;
    font-weight: bold;
}
.form-help-message {
    font-size: 0.9em;
    font-style: italic;
    margin: 7px 0 0;
    opacity: 0.8;
}


/* form action button */

.form-action-button {
    margin-top: 10px;
    position: sticky;
    bottom: 0;
    padding: 30px 0;
}
.form-action-button::before, .form-action-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;

    /* cover shadow from .ui-block */
    width: 20px;
}
.form-action-button::before {
    left: 0;
    transform: translateX(-100%);
}
.form-action-button::after {
    right: 0;
    transform: translateX(100%);
}
.form-action-button, .form-action-button::before, .form-action-button::after {
    /* keep color in sync with body background */
    background: linear-gradient(rgba(255,255,255, 0), #f7f6f5 40%);
}
.form-action-button button {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 767px)
{
    /* keep in sync with .site-width padding */
    .form-action-button::before, .form-action-button::after {
        width: 5vw;
    }
}


/* radio tables list */

.radio-tables-list-item {
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 7px;
    box-shadow: 0 0 6px rgba(0,0,0, 0.09);
    padding: 1em 1.4em;
    margin: 1.2em 0;

    outline: 0 solid transparent;
    transition: linear 0.1s outline;
}
.radio-tables-list-item:hover {
    background: #fcfcfc;
    border-color: #e6d1be;
}
.radio-tables-list-item:focus-within {
    outline: 2px solid rgb(240,127,31, 0.6);
    border-color: #F07F1F;
}
.radio-tables-list-item dd {
    margin-left: 0;
}
.radio-tables-list-item a {
    /* make outline visible with overflow */
    outline-offset: -1px;
}

.radio-tables-list-title a, .radio-tables-list-details dl {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.radio-tables-list-title a {
    display: block;
    font-size: 1.6em;
}

.radio-tables-list-details dl {
    margin: 0.4em 0 0.1em;
    font-size: 0.8em;
}
.radio-tables-list-details dt, .radio-tables-list-details dd {
    display: inline;
}
.radio-tables-list-details dt::after {
    content: ':';
}
.radio-tables-list-details dt:not(:first-child) {
    margin-left: 1em;
}


/* information paragraph */

.information {
    border-radius: 7px;
    box-shadow: 0 4px 22px rgba(0,0,0, 0.07);
    padding: 2em 100px 2em 2em;
    background-color: rgba(180,240,255, 0.2);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='51.264' height='116.008' viewBox='0 0 6.408 14.501'%3E%3Cpath fill='rgba(0,0,0, 0.12)' d='M4.603 0c-.496 0-.924.165-1.28.497-.353.331-.533.731-.533 1.196 0 .466.179.865.533 1.193.356.328.784.492 1.28.492.497 0 .922-.164 1.275-.492a1.57 1.57 0 0 0 .53-1.193c0-.465-.177-.865-.53-1.196A1.792 1.792 0 0 0 4.603 0zM2.92 4.906c-.404 0-.834.072-1.29.218-.454.144-.931.318-1.43.521l-.2.828c.146-.056.324-.113.53-.176.206-.06.408-.09.604-.09.401 0 .67.066.813.201.141.135.212.375.212.717 0 .192-.022.403-.068.633-.046.228-.104.473-.171.731l-.761 2.688a8.23 8.23 0 0 0-.147.759c-.03.224-.045.444-.045.659 0 .553.203 1.008.61 1.367.409.36.982.539 1.718.539.479 0 .9-.063 1.262-.189.363-.126.847-.308 1.455-.548l.203-.827a3.564 3.564 0 0 1-.506.17 2.4 2.4 0 0 1-.626.097c-.392 0-.67-.065-.827-.194-.16-.129-.239-.372-.239-.728 0-.141.024-.351.073-.626.05-.275.105-.521.167-.736l.757-2.68c.074-.247.125-.516.152-.811.027-.294.041-.5.041-.617 0-.564-.199-1.023-.594-1.376-.397-.352-.961-.53-1.692-.53z'/%3E%3C/svg%3E");
    background-position: right 2em center;
    background-repeat: no-repeat;
    background-size: 27px auto;
    /* https://icons8.com/icon/76/info */
}
.information a {
    color: #0088C6;
}

@media (max-width: 767px)
{
    .information {
        padding: 1.5em 1.2em;
        font-size: 0.9em;
        background-image: none;
    }
}


/* search form */

.search-form {
    display: flex;
    margin: 1em 0 2em;

    /* needed for WebKit, not Blink */
    align-items: center;
}
.search-form button {
    margin: 0;
    margin-left: 0.6em;
}


/* ui block */

.ui-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.ui-block + .ui-block {
    margin-top: 40px;
}
.ui-block-content {
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 7px;
    box-shadow: 0 4px 22px rgba(0,0,0, 0.09);
    padding: 0.2em 1.3em 0.3em;

    flex-grow: 1;
}
.ui-block-heading {
    width: 200px;
    margin-right: 25px;

    flex-shrink: 0;
}

@media (max-width: 1000px)
{
    .ui-block {
        flex-direction: column;
    }
}

.ui-block .information {
    box-shadow: none;
}
