/* site width */

.site-width {
    padding-left: 5vw;
    padding-right: 5vw;

    /* override style from .custom-width and .full-width */
    min-width: 320px !important;
    box-sizing: border-box;
}

/* site header */

.site-header .site-logo {
    width: 72px;
    flex-grow: 0;
    flex-shrink: 0;
}


/* site navigation */

.site-navigation {
    line-height: 1.75em;
}
.site-navigation li::before {
    display: none;
}
.site-navigation li {
    margin-left: 0.7em;
}

.site-navigation .user-menu {
    margin: 0.1em 0 0.2em;
}


/* site footer */

.site-footer {
    line-height: 2em;
}


/* notification */

@keyframes notification_show_mobile
{
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes notification_hide_mobile
{
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(200%);
        opacity: 0;
    }
}

.JS .notification-wrapper {
    position: fixed;
    bottom: 30px;
    top: auto;

    /* it's possible to just override `notification_*` keyframes without */
    /* specifying animation again but it does not work properly in MS Edge */
    animation: notification_show_mobile 0.55s ease;
}
.JS .notification-wrapper .notification {
    min-width: auto;
    max-width: auto;
    border-radius: 0;

    width: 80%;
}
.JS .notification-wrapper.hidden {
    /* MS Edge fix, see above comment */
    animation: notification_hide_mobile 1.25s ease;
}


/* main content */

.main-content {
    min-height: auto;
}

.main-content > header h1 {
    font-size: 1.7em;
}


/* form widgets */

button {
    max-width: 70%;
}


/* tabbed UI*/

.tabbed-ui-navigator {
    margin-bottom: 0.4em;
}

.tabbed-ui-navigator button {
    margin-bottom: 0.5em;
}
.tabbed-ui-navigator button, .tabbed-ui-navigator button.tabbed-ui-current {
    padding: 0.2em 0.9em;
    border: 1px solid #D2D2D2;
}
.tabbed-ui-navigator li:last-child button {
    margin-right: 0;
}
.tabbed-ui-navigator button.tabbed-ui-current {
    font-weight: bold;
    border-color: #aaa;
}


/* form items list */

@supports (color: initial)
{
    .form-item.form-regular {
        flex-direction: column;
    }
}
.form-item.form-regular > *:first-child {
    width: auto;
}
.form-item.form-regular label {
    margin-bottom: 0.5em;
}

.form-item.form-checkbox {
    margin: 1.3em 0;
}


/* radio table — wrapper */

.radio-table-container {
    margin-left: -5vw;
    margin-right: -5vw;
}


/* radio table — details section */

.radio-table-details dl {
    flex-direction: column;
    align-items: stretch;
    padding-left: 0;
    padding-right: 0;
}

.radio-table-details dt, .radio-table-details dd {
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}
.radio-table-details dd {
    border-right: none;
}


/* customized radio table page */

.customized-radio-table .customizable-background {
    background-image: none !important;
}


/* information paragraph */

.information {
    padding: 1.5em 1.2em;
    font-size: 0.9em;
    background-image: none;
}
.JS .tabbed-ui .information {
    padding-top: 0.9em;
    padding-bottom: 0.9em;
}


/* page — user profile */

.user-profile-details {
    text-align: center;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 470px)
{
    .user-profile-details > * {
        flex-direction: column;
    }
}


/* page — homepage */

.homepage {
    flex-direction: column;
}
.homepage > * {
    /* keep this to properly cut off radio tables names */
    width: 100%;
}

@media (max-width: 450px)
{
    .homepage-radio-tables-list li {
        flex-direction: column;
        align-items: start;
        margin: 0.5em 0;
    }
}


/* page — all radio tables */

.all-radio-tables-navigation li {
    display: block;
    margin: 0.4em 0;
}


/* radio table settings, columns UI */

.JS .radio-table-columns {
    width: auto;
}
.JS .radio-table-columns .form-item.form-regular {
    flex-direction: row;
}
.JS .radio-table-columns .form-item.form-regular label {
    margin-bottom: 0;
}

@media (max-width: 700px)
{
    .JS .radio-table-columns .form-item.form-regular {
        flex-direction: column;
    }
    .JS .radio-table-columns .form-item.form-regular label {
        margin-bottom: 0.7em;
    }
    .JS .radio-table-columns .form-item > :last-child {
        text-align: center;
        white-space: nowrap;
    }
}
@media (max-width: 440px)
{
    .JS .radio-table-columns .form-item button {
        min-width: auto;
        height: auto;
        font-size: 0.8em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }
}


/* radio table settings, status */

.radio-table-status input[type="radio"] + label:::before {
    top: 40%;
}


/* radio table settings, export list */

.radio-table-export-list a.button {
    margin: 0.23em 0 0.7em 0;
    width: 100%;
    max-width: 100%;
}
