/* container */

.radio-table-container {
    /* reset visual vertical padding of table cells */
    margin: 0 -0.4em;

    overflow-x: auto;

    position: relative;
    background-size: 40px 100%;
    background-repeat: no-repeat;
}

.radio-table-container.overflow-right {
    background-image: linear-gradient(90deg, rgba(0,0,0, 0), rgba(250,230,205, 0.4));
    background-position: right;
}
.radio-table-container.overflow-left {
    background-image: linear-gradient(90deg, rgba(250,230,205, 0.4), rgba(0,0,0, 0));
    background-position: left;
}
.radio-table-container.overflow-left.overflow-right {
    background-image: linear-gradient(90deg, rgba(0,0,0, 0), rgba(250,230,205, 0.4)),
                      linear-gradient(90deg, rgba(250,230,205, 0.4), rgba(0,0,0, 0));
    background-position: right, left;
}

@media (max-width: 800px)
{
    .radio-table-container {
        margin-left: -5vw;
        margin-right: -5vw;
    }
}


/* the table */

table.radio-table {
    width: 100%;
    border-collapse: collapse;

    font-size: 0.96em;
}

table.radio-table td, table.radio-table th {
    padding: 0.31em 0.5em;
    text-align: left;
}
table.radio-table th {
    padding-bottom: 0.5em;
    color: #477E2D;
    font-weight: normal;
    white-space: nowrap;
}
table.radio-table td {
    border-top: 1px solid rgba(0,0,0, 0.05);
}
@supports (-webkit-nbsp-mode: initial)
{
    /* color for WebKit, not Blink */
    table.radio-table td {
        border-top: 1px solid rgba(0,0,0, 0.03);
    }
}

table.radio-table tbody tr {
    transition: background 0.1s;
}
table.radio-table tbody tr:hover, table.radio-table tbody tr:focus-within {
    background: rgba(250,230,205, 0.8);
}

table.radio-table a {
    display: block;
}


/* special cells */

table.radio-table tr.marker-1 {
    font-weight: bold;
}
table.radio-table tr.marker-2 {
    font-style: italic;
}
table.radio-table tr.marker-3 {
    text-decoration: line-through;
}
table.radio-table tr.marker-4 {
    background: rgba(255,209,209, 0.65) !important;
}
table.radio-table tr.marker-5 {
    background: rgba(175,255,150, 0.65) !important;
}
table.radio-table tr.marker-6 {
    background: rgba(156,230,255, 0.65) !important;
}

table.radio-table .quality {
    color: rgba(0,0,0, 0);
    display: block;

    /* override from themes */
    text-shadow: none !important;
}
table.radio-table .quality::selection {
    opacity: 0;
}
table.radio-table .quality::before {
    text-shadow: 0 0 2px #CCC;
    margin-right: -10px;
    letter-spacing: 2px;
}
table.radio-table .quality.quality-5::before {
    color: #0BB300;
    content: "●●●●●";
}
table.radio-table .quality.quality-4::before {
    color: #A8D300;
    content: "●●●●";
}
table.radio-table .quality.quality-3::before {
    color: #BDAC00;
    content: "●●●";
}
table.radio-table .quality.quality-2::before {
    color: #FF5E00;
    content: "●●";
}
table.radio-table .quality.quality-1::before {
    color: #FF0017;
    content: "●";
}

table.radio-table span.rds {
    white-space: pre;
    background: rgba(160,160,160, 0.2);
    font-family: "Inconsolata", "Consolas", "Source Code Pro", "Lucida Console", monospace;
    color: black;
    padding: 1px 3px;
    transition: background 0.2s, color 0.2s;

    /* reset markers styles */
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
table.radio-table span.rds[tabindex]:hover, table.radio-table span.rds:focus {
    background: rgba(0,0,0, 0.7);
    color: #fff;
    outline: none;
}

table.radio-table small {
    font-size: 0.7em;
    vertical-align: 2px;
}
table.radio-table abbr {
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
}
table.radio-table time {
    white-space: nowrap;
}

table.radio-table a.external {
    display: inline-block;
    text-decoration: none;
}
table.radio-table a.external svg {
    height: 0.9em;
    vertical-align: -1px;
    padding: 0 2px;
    fill: currentColor;
}

table.radio-table .comment-collapsed svg {
    height: 1em;
    vertical-align: -2px;
    padding: 0 2px;
    fill: currentColor;
}


/* details section */

.radio-table-details {
    margin-top: 1.8em;
    line-height: 1.5em;

    width: 100%;
}
.radio-table-details p {
    margin: 0.4em 0;
}

.radio-table-details dl {
    display: flex;
    align-items: center;
    width: 100%;

    border-top: 1px solid rgba(0,0,0, 0.05);
    font-size: 0.9em;
    margin-top: 1.5em;
    padding: 0.8em 2em 0 2em;
    box-sizing: border-box;
}
.radio-table-details dl > * {
    display: flex;
    align-items: center;
    flex: 1;
}
.radio-table-details dl > * > * {
    flex: 1;
}
.radio-table-details dt, .radio-table-details dd {
    padding: 0 0.5em;
    margin: 0;
}
.radio-table-details dt {
    text-align: right;
}
.radio-table-details dt::after {
    content: ":";
}
.radio-table-details dd {
    text-align: left;
    border-right: 1px solid rgba(0,0,0, 0.05);
}
.radio-table-details dd:last-child {
    border-right: none;
}

@media (max-width: 800px)
{
    .radio-table-details dl {
        flex-direction: column;
        align-items: stretch;
        padding-left: 0;
        padding-right: 0;
    }

    .radio-table-details dt, .radio-table-details dd {
        padding-top: 0.15em;
        padding-bottom: 0.15em;
    }
    .radio-table-details dd {
        border-right: none;
    }
}


/* RDS popup */

@keyframes rds_popup_show
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.rds-popup {
    background: #fff;
    color: #000;
    border: 1px solid #eee;
    box-shadow: 0 0 3px rgba(0,0,0, 0.4);
    width: 430px;

    animation-name: rds_popup_show;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-delay: 0.15s;
    animation-fill-mode: both;
}

.rds-popup h2 {
    background: #eee;
    color: #555;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
    padding: 0.1em 0;
    margin: 0;
}

.rds-popup dl {
    font-size: 0.8em;
    margin: 0.9em 1.2em;
}
.rds-popup dl > div {
    display: flex;
    flex: 1;
    width: 100%;
}
.rds-popup dl > div[hidden] {
    /* weird fix of weird bug */
    display: none;
}
.rds-popup dt {
    min-width: 12%;
    font-weight: bold;

    /* keep in sync with div's margin */
    padding: 0.3em 0;
}
.rds-popup dt::after {
    content: ":";
}
.rds-popup dd {
    margin-left: 0;
}

.rds-popup dd span {
    display: inline;
    margin-right: 8px;

    white-space: pre;
    background: rgba(160,160,160, 0.2);
    font-family: "Inconsolata", "Consolas", "Source Code Pro", "Lucida Console", monospace;
}
.rds-popup dd.rds-wrap span {
    white-space: pre-wrap;
}
.rds-popup dd div {
    margin: 0.3em 0;
}


/* number indentation in tables */

.number-indent-1 {
    padding-left: 1ch;
}
.number-indent-2 {
    padding-left: 2ch;
}
.number-indent-3 {
    padding-left: 3ch;
}
.number-indent-4 {
    padding-left: 4ch;
}
.number-indent-5 {
    padding-left: 5ch;
}


/* customized radio table page */

.full-width .site-width {
    max-width: 100%;
}
@media (min-width: 900px)
{
    .full-width .site-width, .custom-width .site-width {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}

.customized-radio-table .site-header {
    background-color: rgba(255,255,255, 0.9);
}

.customized-radio-table table.radio-table tbody tr:hover, .customized-radio-table table.radio-table tbody tr:focus-within {
    background: rgba(200,200,200, 0.4);
}
.customized-radio-table table.radio-table .quality::before {
    text-shadow: 0 0 1px #000;
}
.customized-radio-table table.radio-table span.rds {
    background: rgba(200,200,200, 0.8);
}
.customized-radio-table table.radio-table span.rds[tabindex]:hover, .customized-radio-table table.radio-table span.rds:focus {
    background: rgba(0,0,0, 0.55);
}
.customized-radio-table table.sortable th[data-sort]:focus {
    outline-color: currentColor;
}

.customized-radio-table .customizable-color h1 {
    color: inherit;
    text-shadow: none;
}
.customized-radio-table .customizable-color table.radio-table th {
    color: inherit;
    opacity: 0.8;
    text-shadow: 0 0 0 rgba(0,0,0, 0.7);
}
.customized-radio-table .customizable-color table.radio-table td {
    border-top: 0;
    box-shadow: inset 0 2px 2px -3px currentColor;
}
@supports (-moz-user-select: none)
{
    .customized-radio-table .customizable-color table.radio-table td {
        box-shadow: inset 0 3px 3px -5px currentColor;
    }
}
.customized-radio-table .customizable-color a {
    color: inherit;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
.customized-radio-table .customizable-color a:focus {
    outline-color: currentColor;
}

@media (max-width: 800px)
{
    .customized-radio-table .customizable-background {
        background-image: none !important;
    }
}


/* theme — bieszczady */

.theme-bieszczady .customizable-background {
    background: #E1E1E1 url('../images/themes/bieszczady.jpg') no-repeat center / cover fixed;
}
.theme-bieszczady .customizable-color {
    color: #000;
}
.theme-bieszczady table.radio-table tbody tr:hover, .theme-bieszczady table.radio-table tbody tr:focus-within {
    background: #E5E5E5;
}
.theme-bieszczady .site-header {
    background-color: rgba(255,255,255, 0.5);
}

/* theme — wood */
/* https://pixnio.com/textures-and-patterns/wood-texture/texture-old-retro-dirty-wood-knot */

.theme-wood .customizable-background {
    background: #F2DAB6 url('../images/themes/wood.jpg') no-repeat center / cover fixed;
}
.theme-wood .customizable-color {
    color: #000;
}
.theme-wood table.radio-table tbody tr:hover, .theme-wood table.radio-table tbody tr:focus-within {
    background: #E6C1A8;
}
.theme-wood table.radio-table td, .radio-table-details dl, .radio-table-details dd {
    border-color: rgba(170,92,36, 0.2);
}
.theme-wood .site-header {
    background-color: rgba(255,255,255, 0.65);
}

/* theme — rainbow */
/* http://www.publicdomainpictures.net/view-image.php?image=25019&picture=dark-clouds-and-rainbow/ */

.theme-rainbow .customizable-background {
    background: #D8DAD7 url('../images/themes/rainbow.jpg') no-repeat center / cover fixed;
}
.theme-rainbow .customizable-color {
    color: #060015;
    text-shadow: 0 0 2px #AAA;
}
.theme-rainbow .rds-popup {
    text-shadow: none;
}
.theme-rainbow table.radio-table tbody tr:hover, .theme-rainbow table.radio-table tbody tr:focus-within {
    background: rgba(255,255,255, 0.35);
}
.theme-rainbow table.radio-table td, .radio-table-details dl, .radio-table-details dd {
    border-color: rgba(0,0,0, 0.1);
}
.theme-rainbow .site-header {
    background-color: rgba(255,255,255, 0.45);
}

/* theme — night */
/* http://magdeleine.co/photo-by-caleb-ralston-n-491/ */

.theme-night .customizable-background {
    background: #2A3944 url('../images/themes/night.jpg') no-repeat center / cover fixed;
}
.theme-night .customizable-color {
    color: #eee;
    text-shadow: 0 0 3px #111;
}
.theme-night .customizable-color a {
    border-color: rgba(255,255,255, 0.6);
}
.theme-night .rds-popup, .theme-night table.radio-table span.rds {
    text-shadow: none;
}
.theme-night table.radio-table tbody tr:hover, .theme-night table.radio-table tbody tr:focus-within {
    background: rgba(0,0,0, 0.35);
}
.theme-night table.radio-table td, .radio-table-details dl, .radio-table-details dd {
    border-color: rgba(255,255,255, 0.1);
}
.theme-night table.radio-table tr.marker-4, .theme-night table.radio-table tr.marker-5, .theme-night table.radio-table tr.marker-6 {
    color: #000;
    text-shadow: 0 0 2px #aaa;
}
.theme-night .site-header {
    background-color: rgba(255,255,255, 0.8);
    box-shadow: 0 0 3px #555;
}
.theme-night .site-footer {
    border-color: #444;
}
