/* terms of service */

.terms-of-service-page {
    line-height: 1.5em;

    display: flex;
}
.terms-of-service-page > *:first-child {
    flex: 1;
}
.terms-of-service-page > *:last-child {
    flex-basis: 310px;
    padding-left: 3em;
}

.terms-of-service-page ol {
    padding-left: 1.5em;
}
.terms-of-service-page ol li {
    padding-left: 0.3em;
    margin: 0.3em 0;
}
.terms-of-service-page h2 {
    margin-top: 0;
}
.terms-of-service-page + p {
    font-style: italic;
    text-align: center;
}


/* about service, contact */

.plain-text-page {
    max-width: 700px;
    margin: auto;
}
.plain-text-page p, .plain-text-page ol {
    line-height: 1.6em;
    margin: 0.6em 0;
}
.plain-text-page ol {
    padding-left: 1.5em;
}
.plain-text-page li {
    margin: 0.2em 0;
}
.plain-text-page p.p-for-button {
    line-height: inherit;
    margin: 1.3em 0;
    text-align: center;
}
.plain-text-page a.button {
    max-width: none;
    padding-left: 1.4em;
    padding-right: 1.4em;
    margin-bottom: -1px;
}
