.user-login-screen {
    max-width: 400px;
    margin: 2.5em auto;
}

/* keep these styles in sync with mobile form item list */
.user-login-screen .form-item.form-regular {
    flex-direction: column;
}
.user-login-screen .form-item.form-regular > *:first-child {
    width: auto;
}
.user-login-screen .form-item.form-regular label {
    margin-bottom: 0.5em;
}
.user-login-screen .form-item.form-checkbox {
    margin: 1.3em 0;
}
