{% set is_birthday = app.request.locale == 'pl' and 'now'|date('m-d') == '07-01' %}

{% if is_birthday %}
    <div class="birthday-message">
        <div class="ui-block">
            <div class="ui-block-content">
                <div class="birthday-message-wrap">
                    <h2>To już 10 lat!</h2>

                    <p>
                        <strong>RadioLista obchodzi dzisiaj dziesiąte urodziny!</strong>
                        Z&nbsp;tej okazji wprowadzamy nowy, świeży wygląd i&nbsp;bardziej ergonomiczny układ serwisu — mam&nbsp;nadzieję, że&nbsp;ci&nbsp;się&nbsp;spodoba.
                    </p>

                    <p>
                        Dzięki za&nbsp;30&nbsp;tysięcy stacji dodanych przez ostatnią dekadę! Sto&nbsp;lat!
                    </p>

                    <a href="https://radiolista.pl/10-urodziny" class="button" target="_blank" rel="noopener">
                        <span class="sr-only">10 urodziny RadioListy</span>
                        Porozmawiajmy na&nbsp;forum RadioListy
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
