{% extends 'layout.html.twig' %}

{% block page_title %}Moje wykazy{% endblock %}

{% block context_menu %}
    <ul>
        <li><a href="{{ path('radiotable.create') }}">Utwórz wykaz</a></li>
    </ul>
{% endblock %}

{% block page_content %}
    <header>
        <h2>Moje wykazy</h2>
    </header>

    {% if radiotables_list is empty %}
        <p class="information">Nie posiadasz jeszcze żadnego wykazu. <a href="{{ path('radiotable.create') }}">To najlepszy moment, żeby to zmienić!</a></p>
    {% else %}
        {{ radiotables_list|raw }}
    {% endif %}
{% endblock %}

